<p class="copy-notice">
  <strong>Confirmed booking information</strong>
</p>

<table cellspacing="10">
  <tr>
    <th valign="top" align="left">Slot granted</th>
    <td><%= format_slot_for_public(@booking_response.slot_granted) %></td>
  </tr>
  <tr>
    <th valign="top" align="left">Prisoner name</th>
    <td><%= @booking_response.prisoner_full_name %></td>
  </tr>
  <tr>
    <th valign="top" align="left">Prisoner number</th>
    <td><%= @booking_response.prisoner_number %></td>
  </tr>
  <tr>
    <th valign="top" align="left">Approved visitors</th>
    <td>
      <% @booking_response.allowed_visitors.each do |visitor| %>
      <div><%= visitor.full_name %></div>
      <% end %>
    </td>
  </tr>
  <tr>
    <th valign="top" align="left">Reference number</th>
    <td><%= @booking_response.reference_no %></td>
  </tr>
  <tr>
    <th valign="top" align="left">Visit ID</th>
    <td><%= @booking_response.id %></td>
  </tr>
  <tr>
    <th valign="top" align="left">Prison</th>
    <td><%= @booking_response.prison.name %></td>
  </tr>
</table>

<p class="copy-notice">
  <strong><%= t('.copy_of_booking') %></strong>
</p>

<%= render(template: 'visitor_mailer/booked') %>
