<p><%= t('.salutation') %></p>

<p>
  <%= t('.details',
          visitor: @visit.visitor_full_name,
          prisoner: @visit.prisoner_full_name,
          prisoner_number: @visit.prisoner_number,
          date: format_slot_for_staff(@visit.slots.first)
       )
  %>
</p>

<% if @visit.reference_no %>
  <p>
    <%= t('.reference', reference_no: @visit.reference_no) %>
  </p>
<% end %>

<p><%= t('.please_delete') %></p>

<p>
  <%= t('.regards') %>
  <br />
  <%= t('.booking_team') %>
</p>

<p><%= t('.visit_id', visit_id: @visit.id) %></p>
