<p>
  <%= t('.prisoner') %>
  <strong><%= @visit.prisoner_full_name %></strong>
  <br/>
  <%= t('.number') %>
  <strong><%= @visit.prisoner_number %></strong>
  <br/>
  <%= t('.date_of_birth') %>
  <strong><%= format_date_of_birth(@visit.prisoner_date_of_birth) %></strong>
</p>

<p>
  <% @visit.slots.each_with_index do |slot, index| %>
    <%= t('.choice', n: index + 1) %>

    <strong><%= format_slot_for_staff(slot) %></strong>
    <br/>
  <% end %>
</p>

<% @visit.visitors.each_with_index do |visitor, index| %>
  <p>
    <%= t('.visitor', n: index + 1) %>

    <strong><%= visitor.full_name %></strong>
    <br/>

    <%= t('.age') %>
    <strong><%= visitor.age %></strong>
    <br/>

    <%= t('.date_of_birth') %>
    <strong><%= format_date_of_birth(visitor.date_of_birth) %></strong>

    <% if index.zero? %>
      <%= t('.email_address') %>
      <strong><%= @visit.contact_email_address %></strong>
      <br/>

      <%= t('.phone_no') %>
      <strong><%= @visit.contact_phone_no %></strong>
    <% end %>
  </p>
<% end %>

<p class="cta">
  <%= link_to(t('.process_booking'),
              prison_visit_url(@visit, locale: I18n.locale)) %>
</p>

<p>
  <%= t('.copy_paste_explanation') %>
</p>

<div>
  <%= prison_visit_url(@visit, locale: I18n.locale) %>
</div>

<p>
  <small><%= t('.visit_id') %> <%= @visit.id %></small>
</p>
