<%= f.fields_for :visitors, f.object.backfilled_visitors.drop(1) do |vf| %>
  <div class="additional-visitor" id="visitor-<%= vf.index %>">
    <h2><%= t('.visitor', n: vf.index + 1) %></h2>

    <%= single_field(vf, :first_name, :text_field) %>

    <%= single_field(vf, :last_name, :text_field) %>

    <%= composite_field(vf, :date_of_birth) do %>
      <%= render(partial: 'dob', locals: { form: vf }) %>
    <% end %>
  </div>
<% end %>
