<% %i[day month year].each do |field_name| %>
  <div class="datefield form-group form-group-<%= field_name %>">
    <label for="<%= form.object_name %>_date_of_birth_<%= field_name %>">
      <%= t(field_name, scope: 'date.fields') %>
    </label>
    <input
      class="form-control"
      value="<%=
        form.object.date_of_birth ?
          form.object.date_of_birth.send(field_name) : ''
        %>"
      type="number"
      min="<%= form.object.minimum_date_of_birth.send(field_name) %>"
      max="<%= form.object.maximum_date_of_birth.send(field_name) %>"
      name="<%= form.object_name %>[date_of_birth][<%= field_name %>]"
      id="<%= form.object_name %>_date_of_birth_<%= field_name %>"
      aria-describedby="dobHint"
    />
  </div>
<% end %>
