<%= f.fields_for :visitors, f.object.backfilled_visitors.take(1) do |vf| %>
  <div id="visitor-0">
    <%= single_field(vf, :first_name, :text_field) %>

    <%= single_field(vf, :last_name, :text_field) %>

    <%= composite_field(vf, :date_of_birth) do %>
      <%= render('dob', form: vf) %>
    <% end %>

    <%= single_field(f, :email_address, :text_field) %>

    <%= single_field(f, :phone_no, :text_field) %>
  </div>
<% end %>
