<% content_for :header, t('.title') %>

<div class="Grid">
  <div class="Grid-2-3">
    <p>
      <%= t('.intro_html',
            visitor_email_address: @visit.contact_email_address,
            confirm_by: format_date_without_year(@visit.confirm_by),
            phone_no: @visit.prison_phone_no,
            prison_email_address: @visit.prison_email_address) %>
    </p>
  </div>
</div>
<div class="Grid">
  <div class="Grid-2-3">
    <dl>
      <dt><%= t('.your_visit') %></dt>
      <dd>
        <ul class="unstyled-list visit-times">
          <% @visit.slots.each_with_index do |slot, index| %>
            <li>
              <%= t(".option_#{index}") %>
              <strong><%= format_slot_for_public(slot) %></strong>
            </li>
          <% end %>
        </ul>
      </dd>
    </dl>
  </div>
</div>
<div class="Grid">
  <div class="Grid-1-3">
    <dl>
      <dt><%= t('.location') %></dt>
      <dd class="h3">
        <strong>
          <%= @visit.prison_name %>
          <br/>
          <%= add_line_breaks(@visit.prison_address) %>
          <br/>
          <%= @visit.prison_postcode %>
        </strong>
      </dd>
    </dl>
    <p class="map-link">
      <%= link_to(t('.google_maps'),
                  link_directory.google_maps(@visit.prison_postcode)) %>
    </p>
  </div>
  <div class="Grid-1-3">
    <dl>
      <dt><%= t('.phone_no') %></dt>
      <dd><strong><%= @visit.prison_phone_no %></strong></dd>
      <br/>
      <dt><%= t('.email') %></dt>
      <dd><strong><%= mail_to(@visit.prison_email_address) %></strong></dd>
    </dl>
  </div>
  <div class="Grid-1-3">
    <p class="visible--js-enabled">
      <%= link_to(t('.print_page'), '#', class: 'print-link') %>
    </p>
  </div>
</div>
<div class="Grid" id="info">
  <div class="Grid-1-3">
    <nav>
      <h2>
        <%= t('.instructions_nav_title', name: @visit.prison_name) %>
      </h2>

      <ul>
        <li>
          <a href="#info-check-spam"><%= t('.check_spam_title') %></a>
        </li>
        <li>
          <a href="#info-what-to-bring"
            ><%= t('shared.visit_info.what_to_bring_title') %></a>
        </li>
        <li>
          <a href="#info-bringing-child"
            ><%= t('shared.visit_info.bringing_child_title') %></a>
        </li>
        <li>
          <a href="#info-what-to-expect"
            ><%= t('shared.visit_info.what_to_expect_title') %></a>
        </li>
        <li>
          <a href="#info-what-not-to-bring"
            ><%= t('shared.visit_info.what_not_to_bring_title') %></a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="Grid-2-3">
    <h2 id="info-check-spam">
      <%= t('.check_spam_title') %>
    </h2>

    <%= t('.check_spam_body_html',
            phone_no: @visit.prison_phone_no,
            prison_email_address: @visit.prison_email_address) %>

    <%= render(partial: 'shared/visit_info', locals: { visit: @visit }) %>

    <div class="footnote">
      <p><%= link_to(t('.rate_service_html'), link_directory.rate_service) %></p>
    </div>
  </div>
</div>
