<% content_for :header, t('.title') %>

<%
  prisoner_step = @steps.fetch(:prisoner_step)
  visitors_step = @steps.fetch(:visitors_step)
  slots_step = @steps.fetch(:slots_step)
  confirmation_step = @steps.fetch(:confirmation_step)
%>

<div class="divider compact">
  <h2><%= t('.prisoner_details') %></h2>

  <p>
    <big>
      <strong><%= prisoner_step.full_name %></strong>
    </big>
  </p>

  <p>
    <%= t('.date_of_birth') %>
    <strong>
      <%= format_date_of_birth(prisoner_step.date_of_birth) %>
    </strong>
  </p>

  <p>
    <%= t('.prisoner_number') %>
    <strong><%= prisoner_step.number %></strong>
  </p>

  <p>
    <%= t('.prison') %>
    <strong><%= prisoner_step.prison_name %></strong>
  </p>

  <%= form_for(confirmation_step, url: booking_requests_path) do |f| %>
    <%= render(partial: 'hidden_prisoner_step') %>
    <%= render(partial: 'hidden_visitors_step') %>
    <%= render(partial: 'hidden_slots_step') %>
    <%= hidden_field_tag('review_step', 'prisoner_step') %>

    <p class="edit-link">
      <%= f.submit(t('.change_prisoner_details'), class: 'button') %>
    </p>
  <% end %>
</div>

<div class="divider compact">
  <h2><%= t('.visitor_details') %></h2>

  <p>
    <%= t('.confirmation_email_address') %>
    <strong>
      <%= visitors_step.email_address %>
    </strong>
  </p>

  <% visitors_step.visitors.each_with_index do |visitor, index| %>
    <p>
      <%= t('.visitor_n', n: index + 1) %>
      <strong><%= visitor.full_name %></strong>
      –
      <%= format_date_of_birth(visitor.date_of_birth) %>
    </p>
  <% end %>

  <%= form_for(confirmation_step, url: booking_requests_path) do |f| %>
    <%= render(partial: 'hidden_prisoner_step') %>
    <%= render(partial: 'hidden_visitors_step') %>
    <%= render(partial: 'hidden_slots_step') %>
    <%= hidden_field_tag('review_step', 'visitors_step') %>

    <p class="edit-link">
      <%= f.submit(t('.change_visitor_details'), class: 'button') %>
    </p>
  <% end %>
</div>

<div class="divider compact visit-details">
  <h2><%= t('.your_visit') %></h2>

  <% if slots_step.options_available? %>
    <p><%= t('.options_available') %></p>
  <% end %>

  <p><%= t('.first_choice') %></p>

  <p>
    <strong>
      <%= format_slot_for_public(slots_step.slots.first) %>
    </strong>
  </p>

  <% if slots_step.additional_options? %>
    <p class="alt"><%= t('.alternatives') %></p>

    <ol class="unstyled-list">
      <% slots_step.slots.drop(1).each do |slot| %>
        <li>
          <strong>
            <%= format_slot_for_public(slot) %>
          </strong>
        </li>
      <% end %>
    </ol>
  <% end %>

  <%= form_for(confirmation_step, url: booking_requests_path) do |f| %>
    <%= render(partial: 'hidden_prisoner_step') %>
    <%= render(partial: 'hidden_visitors_step') %>
    <%= render(partial: 'hidden_slots_step') %>
    <%= hidden_field_tag('review_step', 'slots_step') %>

    <p class="edit-link">
      <%= f.submit(t('.change_visit_details'), class: 'button') %>
    </p>
  <% end %>
</div>

<div class="divider">
  <%= link_to(t('.ts_and_cs'), terms_and_conditions_path) %>

    <%= form_for(confirmation_step, url: booking_requests_path) do |f| %>
      <%= render(partial: 'hidden_prisoner_step') %>
      <%= render(partial: 'hidden_visitors_step') %>
      <%= render(partial: 'hidden_slots_step') %>
      <%= hidden_field_tag('confirmation_step[confirmed]', true) %>

      <div class="actions">
        <div class="primary-actions">
          <%= f.submit(t('.next_step'), class: 'button button-primary') %>
        </div>
        <%= render(partial: 'cancel') %>
      </div>
    <% end %>
  </div>
</div>
