<% content_for :header, t('.title') %>

<div class="Grid">
  <div class="Grid-2-3">
    <%= t('.information_html') %>

    <%= form_for(@steps.fetch(:prisoner_step),
                 url: booking_requests_path,
                 html: { class: 'js-SubmitOnce', autocomplete: 'off' }) do |f| %>
      <% if reviewing? %>
        <%= render(partial: 'hidden_visitors_step') %>
        <%= render(partial: 'hidden_slots_step') %>
      <% end %>

      <h2>
        <%= t('.prisoner_details') %>
      </h2>

      <%= render(partial: 'shared/validation', object: f.object) %>

      <fieldset>
        <legend class="visuallyhidden">
          <%= t('.prisoner_details') %>
        </legend>

        <%= single_field(f, :first_name, :text_field) %>

        <%= single_field(f, :last_name, :text_field) %>

        <%= composite_field(f, :date_of_birth) do %>
          <%= render(partial: 'dob', locals: { form: f }) %>
        <% end %>

        <%= single_field(f, :number, :text_field) %>

        <%= single_field(f, :prison_id, :select,
              Prison.enabled.map { |p| [p.name, p.id] },
              { prompt: t('.prison_id_prompt') },
              { class: 'js-autocomplete' }) %>

        <div class="actions">
          <div class="primary-actions">
            <%= f.submit(t('.next_step'), class: 'button button-primary') %>
          </div>
          <%= render(partial: 'cancel') %>
        </div>
      </fieldset>
    <% end %>

    <p class="note">
      <strong><%= t('.note_header') %></strong>
      <br>
      <%= t('.note') %>
    </p>

    <%= render(partial: 'contact_prison') %>
  </div>
</div>
