<% content_for :header, t('.title') %>

<%= render(partial: 'shared/timeout_prompt') %>

<%= render('shared/slotpicker_templates') %>

<%= form_for(@steps.fetch(:slots_step),
             url: booking_requests_path,
             html: { class: 'js-SubmitOnce', autocomplete: 'off' }) do |f| %>
      <%= render(partial: 'hidden_prisoner_step') %>
      <%= render(partial: 'hidden_visitors_step') %>

  <div class="SlotPicker" data-today="<%= Time.zone.today %>">
    <div class="Grid visible--js-enabled">
      <div class="Grid-1-2">
        <fieldset>
          <%= render('booking_calendar', prison: f.object.prison) %>
          <%= render('date_slider') %>
          <%= render('booking_calendar_legend') %>
          <%= render('slot_picker_time_slots') %>

          <div class="actions">
            <div class="primary-actions">
              <%= f.submit(t('.next_step'), class: 'button button-primary') %>
            </div>
            <%= render(partial: 'cancel') %>
          </div>
        </fieldset>
      </div>

      <div class="Grid-1-2">
        <%= render(partial: 'slot_picker') %>
      </div>
      <%= render('hidden_inputs_for_calendars', f: f) %>
    </div>
  </div>
<% end %>
<%= render(partial: 'contact_prison') %>
