<% content_for :header, t('.title') %>

<div class="Grid">
  <div class="Grid-2-3">
    <%= form_for(@steps.fetch(:visitors_step), url: booking_requests_path) do |f| %>
      <%= render(partial: 'hidden_prisoner_step') %>

      <h2>
        <%= t('.your_details') %>
      </h2>

      <%= render(partial: 'shared/validation', object: f.object) %>

      <fieldset>
        <legend class="visuallyhidden">
          <%= t('.your_details') %>
        </legend>

        <%= render('principal_visitor', f: f) %>

        <div id="other-visitors">
          <h2><%= t('.other_visitors') %></h2>

          <p><%= t('.seating_arrangements') %></p>

          <script type="text/html" id="additional-visitor-selector">
            <fieldset>
              <legend class="visuallyhidden">
                <%= t('.other_visitors') %>
              </legend>

              <div class="group group--inline">
                <%= single_field(f, :additional_visitor_count, :select,
                                 additional_visitor_selections,
                                 {},
                                 class: 'js-RevealAdditional',
                                 data: { target_els: '.additional-visitor' }) %>
              </div>
            </fieldset>
          </script>
          <script>
            document.write(
              document.getElementById('additional-visitor-selector').innerHTML
            );
          </script>
        </div>

        <%= render('additional_visitors', f: f) %>

        <div class="actions">
          <div class="primary-actions">
            <%= f.submit(t('.next_step'), class: 'button button-primary') %>
          </div>
          <%= render(partial: 'cancel') %>
        </div>
      </fieldset>
    <% end %>

    <%= render(partial: 'contact_prison') %>
  </div>
</div>
