<% if current_user %>
  <%= render 'prison/dashboards/navigation' %>
<% end %>
<h1 class="heading-xlarge">Prison visits booking</h1>
<p>Below are the social visit slots we display on the public calendar.
  If they don’t look right, <%= link_to 'contact us', new_prison_feedback_path, class: 'js-GAEvent', data: {event_data: {category: "Slot information", action: "Contact link", label: @prisons.first.name}}  %>.
</p>
<hr>
<% @prisons.each do |prison| %>
  <!--  This renders prisons/_prison.erb which shows recurring slots for all 7 days for the prison -->
  <%= render prison.decorate %>
<% end %>
<hr>
<div class="grid-row">
  <div class="column-one-third">
    <h2>
      <%= link_to 'Stats', metrics_path %>
    </h2>
    <p>Find out how prisons are getting on with the service</p>
  </div>
  <div class="column-one-third">
    <h2>
      <a href="/en/metrics/digital_takeup">Digital takeup</a>
    </h2>
    <p>Find out how many visits are booked online or by telephone</p>
  </div>
</div>
<div class="grid-row">
  <div class="column-one-third">
    <h2>
      <%= link_to 'Contact us', new_prison_feedback_path %>
    </h2>
    <p>If you need any help or something changed</p>
  </div>
  <div class="column-one-third">
    <h2>
      <a href="/staff/telephone_script">Telephone script</a>
    </h2>
    <p>A guide for promoting Prison Visits Booking and helping those less able to use digital services</p>
  </div>
</div>
<div class="grid-row">
  <div class="column-one-third">
    <h2>
      <a href="/staff/downloads">Downloads</a>
    </h2>
    <p>Posters and leaflets for your prison</p>
  </div>
</div>
