<h2><%= t('.title') %></h2>

<p><%= t('.intro') %></p>

<p><%= t('.not_received') %></p>

<p><%= t('visits.shared.add_to_address_book_html') %></p>

<p><%= t('visits.shared.request_new_visit_html',
         url: booking_requests_path) %></p>
