<h2><%= t('.title') %></h2>

<p><%= t('.intro') %></p>

<p><%= t('.not_received') %></p>

<p><%= t('visits.shared.avoid_spam_filtering_html',
         email: address_book.no_reply) %></p>

<p><%= t('visits.shared.request_new_visit_html',
         url: booking_requests_path) %></p>
