<% content_for :head do %>
  <%= stylesheet_link_tag 'metrics' %>
<% end %>

<%= render 'content_for_head' %>

<h1>
  All time
</h1>
<h3>
  <%= link_to 'Download confirmed bookings CSV', action: 'confirmed_bookings', format: :csv  %>
</h3>
<%= render 'all_time_graphs' %>
<%= render 'all_time_table' %>
