<%= render 'metrics/content_for_head' %>

<h3>
  <%= link_to 'All prisons metrics', action: :index %>
</h3>

<h1 class="heading-medium">
  <%= t('.processing_turnaround_time_for', prison_name: @prison.name) %>
</h1>

<%= content_tag :div, '', { class: 'js-Metrics',              data: { percentiles: @graphs_presenter.percentiles_by_day_for(@prison) } } %>
<%= content_tag :div, '', { class: 'js-VisitsCounts',         data: { visit_counts: @graphs_presenter.visits_per_processing_state_for(@prison) } } %>
<%= content_tag :div, '', { class: 'js-TimelyVisitsCount',    data: { visit_counts: @graphs_presenter.timely_and_overdue_for(@prison) } } %>
<%= content_tag :div, '', { class: 'js-RejectionPercentages', data: { rejections_percentages: @graphs_presenter.rejection_percentages_for(@prison) } } %>
