<script type="text/html" id="SlotPicker-tmplDay">
  <li class="SlotPicker-day" id="date-{{ slot }}" tabindex="-1">
    <h2 class="SlotPicker-dayTitle">{{ date }}</h2>
    {{#if oneSlot}}
    <p class="SlotPicker-dayOneSlot"><%= t('.one_slot_available') %></p>
    {{/if}}
    {{{ slots }}}
  </li>
</script>

<script type="text/html" id="SlotPicker-tmplTimeSlot">
  <label class="SlotPicker-label" for="slot-{{ slot }}">
    <input class="SlotPicker-slot" type="checkbox" value="{{ slot }}" id="slot-{{ slot }}">
    <strong class="SlotPicker-time">{{ time }}</strong>
    <span class="SlotPicker-duration">{{ duration }}</span>
  </label>
</script>

<script type="text/html" id="BookingCalendar-tmplRow">
  <tr>
    {{{ cells }}}
  </tr>
</script>

<script type="text/html" id="BookingCalendar-tmplDate">
  <td class="{{ klass }}">
    <div class="BookingCalendar-content">
      <a class="BookingCalendar-dateLink" data-date="{{ date }}" href="#date-{{ date }}">
        <span class="BookingCalendar-day">{{ day }}</span>
        {{#if today}}
          <span class="BookingCalendar-tag BookingCalendar-tag--today">t('.today')</span>
        {{/if}}
        {{#if newMonth}}
          <span class="BookingCalendar-tag" id="month-{{ monthIso }}">{{ monthShort }}</span>
        {{/if}}
      </a>
    </div>
  </td>
</script>

<script type="text/html" id="BookingCalendar-tmplNav">
  {{ monthAbr }}<span class="BookingCalendar-navFull">{{ monthRemaining }}</span>
</script>

<script type="text/html" id="SlotPicker-tmplChoice">
  <div class="SlotPicker-choice">
    <div class="SlotPicker-choiceInner">
      <div class="SlotPicker-position"><span>{{ num }}</span></div>
      <div class="SlotPicker-choiceContent">
        <p class="SlotPicker-date"></p>
        <p class="SlotPicker-time"></p>
      </div>
      <p class="SlotPicker-prompt"><%= t('.choose_date_and_time') %></p>
      {{#unless first}}
      <a class="SlotPicker-icon SlotPicker-icon--promote" href="#"><%= t('.promote') %></a>
      {{/unless}}
      <a class="SlotPicker-icon SlotPicker-icon--remove" href="#"><%= t('.remove') %></a>
    </div>
  </div>
  {{#if first}}
    <p><%= t('.choose_two_alternatives') %></p>
  {{/if}}
</script>

<script type="text/html" id="DateSlider-tmplDay">
  <li data-date="{{ isoDate }}" class="{{ klass }}">
    {{#if dayLabel}}
      <small>{{ weekDay }}</small>
    {{/if}}
    {{ day }}
  </li>
</script>

<script type="text/html" id="DateSlider-tmplMonth">
  <span data-date="{{ yearMonth }}">{{ month }}</span>
</script>
