<% content_for :header do %>
  <%= t('.title') %>
<% end %>

<% if current_user %>
  <%= render 'prison/dashboards/navigation' %>
<% end %>

<div class="grid-row">
  <div class="column-two-thirds">
    <p><%= t('.intro') %></p>
  </div>
</div>

<%= form_for @feedback, url: prison_feedbacks_path do |f| %>

  <fieldset>
    <%= f.hidden_field :referrer %>

    <%= single_field f, :body, :text_area, cols: 50, rows: 5, class: 'form-control' %>

    <%= single_field f, :email_address, :email_field, class: 'form-control' %>

    <%= single_field(f, :prison_id, :select,
      Prison.all.map { |p| [p.name, p.id] },
      { prompt: t('.prison_id_prompt') },
      { class: 'form-control js-autocomplete' }) %>
  </fieldset>

  <%= f.submit t('.send'), class: 'button button-primary' %>
<% end %>
