<%= form_tag cancel_prison_visit_path(@visit, locale: 'en'), class: 'form' do -%>
  <h3 class="heading-medium"><%= t(".title") %></h3>

  <div class="grid-row">
    <fieldset>
      <div class="column-one-half">
        <% %i[prisoner_vos prisoner_released child_protection_issues slot_unavailable visitor_banned].each do |reason| %>
          <div class="multiple-choice">
            <%= check_box_tag 'cancellation_reasons[]', reason, false, id: reason %>
            <%= label_tag reason, t(".#{reason}") %>
          </div>
        <% end %>
      </div>
      <div class="column-one-half">
        <% %i[prisoner_moved prisoner_non_association booked_in_error capacity_issues].each do |reason| %>
          <div class="multiple-choice">
            <%= check_box_tag 'cancellation_reasons[]', reason, false, id: reason %>
            <%= label_tag reason, t(".#{reason}") %>
          </div>
        <% end %>
      </div>
    </fieldset>
  </div>
  <div class='form-group push-top'>
    <%= submit_tag t('cancel_visit', scope: :shared), class: 'button button-secondary' %>
  </div>
<% end %>
