<% if @visit.can_cancel? %>
  <details class="push-top">
    <summary><span class="summary">Issue with the prisoner</span></summary>
    <div class="panel panel-border-narrow">
      <div class="grid-row">
        <fieldset>
          <div class="column-one-third">
            <div class="multiple-choice">
              <%= radio_button_tag 'cancellation_reason', :prisoner_vos, false %>
              <label for="cancellation_reason_prisoner_vos">
                <%= t(".prisoner_vos") %>
              </label>
            </div>
            <div class="multiple-choice">
              <%= radio_button_tag 'cancellation_reason', :prisoner_non_association, false %>
              <label for="cancellation_reason_prisoner_non_association">
                <%= t(".prisoner_non_association") %>
              </label>
            </div>
          </div>
          <div class="column-one-third">
            <div class="multiple-choice">
              <%= radio_button_tag 'cancellation_reason', :prisoner_moved, false %>
              <label for="cancellation_reason_prisoner_moved">
                <%= t(".prisoner_moved") %>
              </label>
            </div>
            <div class="multiple-choice">
              <%= radio_button_tag 'cancellation_reason', :child_protection_issues, false %>
              <label for="cancellation_reason_child_protection_issues">
                <%= t(".child_protection_issues") %>
              </label>
            </div>
          </div>
          <div class="column-one-third">
            <div class="multiple-choice">
              <%= radio_button_tag 'cancellation_reason', :prisoner_released, false %>
              <label for="cancellation_reason_prisoner_released">
                <%= t(".prisoner_released") %>
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class='form-group push-top'>
        <%= submit_tag t('cancel_visit', scope: :shared), class: 'button' %>
      </div>
    </div>
  </details>
<% end %>
