<%= form_for [:prison, @visit, @visit.cancellation], class: 'form' do |f| -%>
  <h3 class="heading-medium"><%= t(".title") %></h3>
  <%= error_container(f, :reasons, class: 'form-group') do %>
    <div class="grid-row">
      <fieldset>
        <% f.object.staff_cancellation_reasons.in_groups_of(5, false).each do |reasons| %>
          <div class="column-one-half">
            <%= f.collection_check_boxes :reasons, reasons, :id, :label do |b| %>
              <div class="multiple-choice">
                <%= b.check_box %>
                <%= b.label %>
              </div>
            <% end %>
          </div>
        <% end %>
      </fieldset>
    </div>
  <% end %>
  
  <div class='form-group push-top'>
    <%= submit_tag t('cancel_visit', scope: :shared), class: 'button button-secondary' %>
  </div>
<% end %>
