<% if @visit.can_cancel? %>
  <details class="push-top">
    <summary><span class="summary"><%= t('.issue_with_date') %></span></summary>
    <div class="panel panel-border-narrow">
      <div class="grid-row">
        <fieldset>
          <div class="column-one-third">
            <div class="multiple-choice">
            <%= radio_button_tag 'cancellation_reason', :booked_in_error, false %>
              <label for="cancellation_reason_booked_in_error">
                <%= t(".booked_in_error") %>
              </label>
            </div>
          </div>
          <div class="column-one-third">
            <div class="multiple-choice">
            <%= radio_button_tag 'cancellation_reason', :slot_unavailable, false %>
              <label for="cancellation_reason_slot_unavailable">
                <%= t(".slot_unavailable") %>
              </label>
            </div>
          </div>
          <div class="column-one-third">
            <div class="multiple-choice">
            <%= radio_button_tag 'cancellation_reason', :capacity_issues, false %>
              <label for="cancellation_reason_capacity_issues">
                <%= t(".capacity_issues") %>
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class='form-group push-top'>
        <%= submit_tag t('cancel_visit', scope: :shared), class: 'button' %>
      </div>
    </div>
  </details>
<% end %>
