<div class="issue-with-prisoner">
  <div class="border-box push-top">
    <div class="grid-row">
      <div class="column-one-half">
        <div class="bold-small push-bottom--half"><%= t('.visiting_allowance') %></div>
        <%= error_container(rf, :reasons) do %>
          <label class="form-checkbox">
            <%= rf.object.checkbox_for(:no_allowance) %>
            <%= t('.no_allowance') %>
          </label>
        <% end %>
      </div>
      <div class="column-one-half">
        <%= rf.fields_for :allowance_renews_on, rf.object.allowance_renews_on do |af| %>
          <%= composite_field(rf, :allowance_renews_on) do %>
            <% accessible_date_options.each do |field_name, field_options| %>
              <div class="datefield form-group form-group-<%= field_name %>">
                <%= af.label field_name %>
                <%= af.number_field field_name, field_options.merge( class: 'form-control', aria: { describedby: 'allowance_renews_on' }) %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="grid-row push-top">
    <div class="column-one-third">
      <%= error_container(rf, :reasons) do %>
        <label class="block-label">
          <%= rf.object.checkbox_for(:prisoner_details_incorrect, class: 'js-Conditional') %>
          <%= t('.prisoner_details_incorrect') %>
        </label>
      <% end %>
      <%= error_container(rf, :reasons) do %>
        <label class="block-label">
          <%= rf.object.checkbox_for(:prisoner_non_association, class: 'js-Conditional') %>
          <%= t('.prisoner_non_association') %>
        </label>
      <% end %>
      <%= error_container(rf, :reasons) do %>
        <label class="block-label">
          <%= rf.object.checkbox_for(:prisoner_out_of_prison, class: 'js-Conditional') %>
          <%= t('.prisoner_out_of_prison') %>
        </label>
      <% end %>
    </div>

    <div class="column-one-third">
      <%= error_container(rf, :reasons) do %>
        <label class="block-label">
          <%= rf.object.checkbox_for(:prisoner_moved, class: 'js-Conditional') %>
          <%= t('.prisoner_moved') %>
        </label>
      <% end %>
      <%= error_container(rf, :reasons) do %>
        <label class="block-label">
          <%= rf.object.checkbox_for(:child_protection_issues, class: 'js-Conditional') %>
          <%= t('.child_protection_issues') %>
        </label>
      <% end %>
    </div>

    <div class="column-one-third">
      <%= error_container(rf, :reasons) do %>
        <label class="block-label">
          <%= rf.object.checkbox_for(:prisoner_released, class: 'js-Conditional') %>
          <%= t('.prisoner_released') %>
        </label>
      <% end %>
      <%= error_container(rf, :reasons) do %>
        <label class="block-label">
          <%= rf.object.checkbox_for(:prisoner_banned, class: 'js-Conditional') %>
          <%= t('.prisoner_banned') %>
        </label>
      <% end %>
    </div>
  </div>
</div>
