<div class="issue-with-prisoner">
  <div class="grid-row push-top">
    <div class="column-one-third">
      <%= error_container(f, :selection) do %>
        <label class="block-label">
          <%=
            f.radio_button(
              :selection, :no_allowance,
              class: 'js-Conditional',
              data: { 'conditional-el': 'no_allowance_details' }
            )
          %>
          <%= t('.no_allowance') %>
        </label>
      <% end %>
      <%= error_container(f, :selection) do %>
        <label class="block-label">
          <%=
            f.radio_button(
              :selection, :prisoner_released,
              class: 'js-Conditional'
            )
          %>
          <%= t('.prisoner_released') %>
        </label>
      <% end %>
    </div>
    <div class="column-one-third">
      <%= error_container(f, :selection) do %>
        <label class="block-label">
          <%=
            f.radio_button(
              :selection, :prisoner_details_incorrect,
              class: 'js-Conditional'
            )
          %>
          <%= t('.prisoner_details_incorrect') %>
        </label>
      <% end %>
      <%= error_container(f, :selection) do %>
        <label class="block-label">
          <%=
            f.radio_button(
              :selection, :prisoner_non_association,
              class: 'js-Conditional'
            )
          %>
          <%= t('.prisoner_non_association') %>
        </label>
      <% end %>
    </div>
    <div class="column-one-third">
      <%= error_container(f, :selection) do %>
        <label class="block-label">
          <%=
            f.radio_button(
              :selection, :prisoner_moved,
              class: 'js-Conditional'
            )
          %>
          <%= t('.prisoner_moved') %>
        </label>
      <% end %>
      <%= error_container(f, :selection) do %>
        <label class="block-label">
          <%=
            f.radio_button(
              :selection, :child_protection_issues,
              class: 'js-Conditional'
            )
          %>
          <%= t('.child_protection_issues') %>
        </label>
      <% end %>
    </div>
  </div>
  <div id="no_allowance_details" class="panel panel-border-narrow">
    <p><%= t('.no_allowance_tell_more') %></p>
    <div class="grid-row push-top">
      <div class="column-two-thirds">
        <%=
          single_field(
            f, :allowance_will_renew, :check_box,
            class: 'js-Conditional',
            data: { 'conditional-el': 'allowance_will_renew_details' }
          )
        %>
        <div id="allowance_will_renew_details" class="form-group">
          <%= f.fields_for :allowance_renews_on, f.object.allowance_renews_on do |pf| %>
            <%= composite_field(f, :allowance_renews_on) do %>
              <% accessible_date_options.each do |field_name, field_options| %>
              <div class="datefield form-group form-group-<%= field_name %>">
                <%= pf.label field_name %>
                <%= pf.number_field field_name, field_options.merge( class: 'form-control', aria: { describedby: 'allowance_renews_on' }) %>
              </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <%=
          single_field(
            f, :privileged_allowance_available, :check_box,
            class: 'js-Conditional',
            data: { 'conditional-el': 'privileged_allowance_available_details' }
          )
        %>
        <div id="privileged_allowance_available_details" class="form-group">
          <%= f.fields_for :privileged_allowance_expires_on, f.object.privileged_allowance_expires_on do |pf| %>
            <%= composite_field(f, :privileged_allowance_expires_on) do %>
              <% accessible_date_options.each do |field_name, field_options| %>
              <div class="datefield form-group form-group-<%= field_name %>">
                <%= pf.label field_name %>
                <%= pf.number_field field_name, field_options.merge( class: 'form-control', aria: { adescribedby: 'privileged_allowance_expires_on' }) %>
              </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
