<div class="people">
  <dl class="labels">
    <dt><%= t('.prisoner_first_name') %></dt>
    <dd><%= @booking_response.prisoner_first_name %></dd>

    <dt><%= t('.prisoner_last_name') %></dt>
    <dd><%= @booking_response.prisoner_last_name %></dd>

    <dt><%= t('.number') %></dt>
    <dd><%= @booking_response.prisoner_number %></dd>

    <dt><%= t('.date_of_birth') %></dt>
    <dd><%= @booking_response.prisoner_date_of_birth.to_s(:short_nomis) %></dd>
  </dl>

  <hr/>

  <% @booking_response.visitors.each_with_index do |visitor, index| %>
    <dl class="labels">
      <dt><%= t('.visitor_first_name', n: index + 1) %></dt>
      <dd><%= visitor.first_name %></dd>

      <dt><%= t('.visitor_last_name', n: index + 1) %></dt>
      <dd><%= visitor.last_name %></dd>

      <dt><%= t('.age') %></dt>
      <dd><%= visitor.age %></dd>

      <dt><%= t('.date_of_birth') %></dt>
      <dd><%= visitor.date_of_birth.to_s(:short_nomis) %></dd>

      <% if index.zero? %>
        <dt><%= t('.email_address') %></dt>
        <dd><%= @booking_response.contact_email_address %></dd>

        <dt><%= t('.phone_no') %></dt>
        <dd><%= @booking_response.contact_phone_no %></dd>
      <% end %>
    </dl>
  <% end %>
</div>
