<h2 class="bold-medium"><%= t('.title') %></h2>
<% case nomis_info_presenter.notice %>
<% when nil %>
  <div class="notice push-top">
    <i class="icon icon-information">
      <span class="visuallyhidden"><%= t('warning', scope: :shared) %></span>
    </i>
    <strong class="bold-small"><%= t('.verified_html') %></strong>
  </div>
<% when PrisonerValidation::PRISONER_NOT_EXIST, PrisonerLocationValidation::INVALID %>
  <div class="notice push-top">
    <i class="icon icon-information">
      <span class="visuallyhidden"><%= t('warning', scope: :shared) %></span>
    </i>
    <strong class="bold-small"><%= t(".#{nomis_info_presenter.notice}_text") %></strong>
  </div>
<% when PrisonerValidation::UNKNOWN, PrisonerLocationValidation::UNKNOWN %>
  <div class="notice push-top">
    <i class="icon icon-information">
      <span class="visuallyhidden"><%= t('warning', scope: :shared) %></span>
    </i>
    <strong class="bold-small"><%= t(".#{nomis_info_presenter.notice}_text") %></strong>
  </div>
<% end %>

<div class="grid-row push-top">

  <div class="column-one-quarter">
    <span class="text-secondary"><%= t('.prisoner_name') %></span>
    <div class="bold-small"><%= @visit.prisoner_full_name %></div>
  </div>

  <div class="column-one-quarter">
    <span class="text-secondary"><%= t('.prisoner_dob') %></span>
    <div class="bold-small"><%= @visit.prisoner_date_of_birth.to_s(:short_nomis) %></div>
    <% case @visit.prisoner_existance_status %>
    <% when PrisonerDetailsPresenter::VALID, PrisonerLocationValidation::INVALID %>
      <div class="tag tag--booked font-xsmall"><%= t('.verified') %></div>
    <% when PrisonerDetailsPresenter::INVALID, PrisonerLocationValidation::INVALID %>
      <div class="tag tag--error font-xsmall"><%= t(".#{@visit.prisoner_existance_status}") %></div>
    <% end %>
  </div>

  <div class="column-one-quarter">
    <span class="text-secondary"><%= t('.prisoner_number') %></span>
    <div class="bold-small"><%= @visit.prisoner_number %></div>
    <% case @visit.prisoner_existance_status %>
    <% when PrisonerDetailsPresenter::VALID, PrisonerLocationValidation::INVALID  %>
      <div class="font-xsmall tag tag--booked"><%= t('.verified') %></div>
    <% when PrisonerDetailsPresenter::INVALID %>
      <div class="font-xsmall tag tag--error"><%= t(".#{@visit.prisoner_existance_status}") %></div>
    <% end %>
  </div>

  <div class="column-one-quarter">
    <span class="text-secondary"><%= t('.prison_name') %></span>
    <div class="bold-small"><%= @visit.prison_name %></div>
    <% case prisoner_location_presenter.status    %>
    <% when nil %>
      <div class="font-xsmall tag tag--booked"><%= t('.verified') %></div>
    <% when PrisonerLocationValidation::INVALID %>
      <div class="font-xsmall tag tag--error"><%= t(".#{prisoner_location_presenter.status}") %></div>
    <% when PrisonerLocationValidation::UNKNOWN %>
      <div class="font-xsmall tag tag--warning"><%= t(".#{prisoner_location_presenter.status}") %></div>
    <% end %>
  </div>
</div>


<div class="grid-row push-top">
  <div class="column-one-quarter">
    &nbsp;
  </div>
  <div class="column-one-quarter">
    <span class="text-secondary"><%= t('.sentence_status') %></span>
    <div class="bold-small"><%= @visit.prisoner_sentence_status%></div>
    <% case @visit.prisoner_existance_status %>
    <% when PrisonerDetailsPresenter::VALID %>
      <div class="font-xsmall tag tag--booked"><%= t('.verified') %></div>
    <% when PrisonerDetailsPresenter::INVALID %>
      <div class="font-xsmall tag tag--error"><%= t(".#{@visit.prisoner_existance_status}") %></div>
    <% end %>
  </div>
  <div class="column-one-quarter">
    <span class="text-secondary"><%= t('.iep_level') %></span>
    <div class="bold-small"><%= @visit.prisoner_iep_level%></div>
    <% case @visit.prisoner_existance_status %>
    <% when PrisonerDetailsPresenter::VALID %>
      <div class="font-xsmall tag tag--booked"><%= t('.verified') %></div>
    <% when PrisonerDetailsPresenter::INVALID %>
      <div class="font-xsmall tag tag--error"><%= t(".#{@visit.prisoner_existance_status}") %></div>
    <% end %>
  </div>
  <div class="column-one-quarter">
    <span class="text-secondary"><%= t('.internal_location') %></span>
    <div class="bold-small"><%= prisoner_location_presenter.internal_location%></div>
    <% case prisoner_location_presenter.status %>
    <% when nil %>
      <div class="font-xsmall tag tag--booked"><%= t('.verified') %></div>
    <% when PrisonerLocationValidation::INVALID %>
      <div class="font-xsmall tag tag--error"><%= t(".#{prisoner_location_presenter.status}") %></div>
    <% when PrisonerLocationValidation::UNKNOWN %>
      <div class="font-xsmall tag tag--warning"><%= t(".#{prisoner_location_presenter.status}") %></div>
    <% end %>
  </div>
</div>

<% if @visit.prisoner_restrictions.any? %>
  <div class="border-box border-box--large border-box--orange push-top">
    <h3 class="bold-medium">
      <%= t('.prisoner_restrictions_apply') %><div class="push-left--half font-xsmall tag tag--verified"><%= t('.verified') %></div>
    </h3>
    <% @visit.prisoner_restrictions.each do |restriction| %>
      <%= render 'prisoner_restriction', restriction: restriction %>
    <% end %>
  </div>
<% end %>
