<h2 class="bold-medium"><%= t('.title') %></h2>
<div class="grid-row push-top">
  <div class="column-one-third">
    <span class="text-secondary"><%= t('.prisoner_name') %></span>
    <div class="bold-small"><%= @booking_response.prisoner_full_name %></div>
  </div>
  <div class="column-one-third">
    <span class="text-secondary"><%= t('.prisoner_dob') %></span>
    <div class="bold-small"><%= @booking_response.prisoner_date_of_birth.to_s(:short_nomis) %></div>
  </div>
  <div class="column-one-third">
    <span class="text-secondary"><%= t('.prisoner_number') %></span>
    <div class="bold-small"><%= @booking_response.prisoner_number %></div>
  </div>
</div>