<h2 class="bold-medium"><%= t('.title') %></h2>
<% case @nomis_checker.prisoner_existance_status %>
<% when StaffNomisChecker::VALID %>
  <div class="notice push-top">
      <i class="icon icon-important">
      <span class="visuallyhidden"><%= t('warning', scope: :shared) %></span>
    </i>
    <strong class="bold-small"><%= t('.verified_html') %></strong>
  </div>
<% when StaffNomisChecker::INVALID, StaffNomisChecker::UNKNOWN %>
  <div class="notice push-top">
      <i class="icon icon-important">
      <span class="visuallyhidden"><%= t('warning', scope: :shared) %></span>
    </i>
    <strong class="bold-small"><%= t(".#{@nomis_checker.prisoner_existance_error}_text") %></strong>
  </div>
<% end %>
