<h3 class="bold-medium push-top"><%= t('.other_rejection_title') %></h3>
<p><%= t('.other_rejection_intro') %></p>
<div class="grid-row">
  <div class="column-one-half">
    <%= error_container(rf, :reasons) do %>
      <div class="multiple-choice">
        <%= render 'rejection_reason', rf: rf, id: :prisoner_moved %>
      </div>
    <% end %>
    <%= error_container(rf, :reasons) do %>
      <div class="multiple-choice">
        <%= render 'rejection_reason', rf: rf, id: :child_protection_issues %>
      </div>
    <% end %>
    <div class="multiple-choice other-reason" data-target="other_reason_detail">
      <%= render 'rejection_reason', rf: rf, id: :other %>
    </div>
    <div class="panel panel-border-narrow js-hidden" id="other_reason_detail">
      <%= single_field rf, :rejection_reason_detail, :text_area, rows: 4, class: 'form-control form-control-full-width' %>
    </div>
  </div>
  <div class="column-one-half">
    <%= error_container(rf, :reasons) do %>
      <div class="multiple-choice">
        <%= render 'rejection_reason', rf: rf, id: :prisoner_released %>
      </div>
    <% end %>
    <%= error_container(rf, :reasons) do %>
      <div class="multiple-choice">
        <%= render 'rejection_reason', rf: rf, id: :prisoner_non_association %>
      </div>
    <% end %>
    <%= error_container(rf, :reasons) do %>
      <div class="multiple-choice">
        <%= render 'rejection_reason', rf: rf, id: :duplicate_visit_request %>
      </div>
    <% end %>
  </div>
</div>
