<h3 class="bold-medium push-top"><%= t('.nomis_rejection_title') %></h3>
<p><%= t('.nomis_rejection_intro') %></p>
<div class="issue-with-prisoner">
  <div class="grid-row push-top">
    <div class="column-one-half">
      <%= error_container(rf, :reasons) do %>
        <div class="multiple-choice">
          <%= render 'rejection_reason', rf: rf, id: :prisoner_details_incorrect %>
        </div>
      <% end %>
      <%= error_container(rf, :reasons) do %>
        <div class="multiple-choice" data-target="allowance-dates">
          <%= render 'rejection_reason', rf: rf, id: :no_allowance %>
        </div>
      <% end %>
      <div class="panel panel-border-narrow js-hidden" id="allowance-dates">
        <%= rf.fields_for :allowance_renews_on, rf.object.allowance_renews_on do |af| %>
          <%= composite_field(rf, :allowance_renews_on) do %>
            <% accessible_date_options.each_with_index do |(field_name, field_options), i| %>
              <div class="datefield form-group form-group-<%= field_name %>">
                <%= af.label field_name %>
                <%= af.number_field field_name, field_options.merge( class: 'form-control', aria: { describedby: 'allowance_renews_on' }, name: "visit[rejection_attributes][allowance_renews_on(#{3 - i}i)]") %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="column-one-half">
      <%= error_container(rf, :reasons) do %>
        <div class="multiple-choice">
          <%= render 'rejection_reason', rf: rf, id: :prisoner_out_of_prison %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="notice push-top notification notification--grey" id="js-OverrideMessage">
  <i class="icon icon-important">
    <span class="visually-hidden"><%= t('.warning') %></span>
  </i>
  <strong class="bold-small">
    <%= t('.overriding_restrictions') %>:
    <ul class="list list-bullet font-small">
      <li id="prisoner-details-incorrect"><%= t('.prisoner_details_incorrect') %></li>
      <li id="no-allowance"><%= t('.nro_allowance') %>  </li>
      <li id="prisoner-out-of-prison"><%= t('.prisoner_out_of_prison') %></li>
    </ul>
    <%= t('.update_nomis') %>
  </strong>
</div>
