<h2 class="bold-medium"><%= t('.title', scope: [:prison, :visits, :prisoner_details]) %></h2>
<% case @nomis_checker.prisoner_existance_status %>
<% when StaffNomisChecker::VALID %>
  <div class="notice font-xsmall push-top">
      <i class="icon icon-important">
      <span class="visuallyhidden"><%= t('warning', scope: :shared) %></span>
    </i>
    <strong class="bold-small"><%= t('.verified_html', scope: [:prison, :visits, :prisoner_details]) %></strong>
  </div>
<% when StaffNomisChecker::INVALID, StaffNomisChecker::UNKNOWN %>
  <div class="notice font-xsmall push-top">
      <i class="icon icon-important">
      <span class="visuallyhidden"><%= t('warning', scope: :shared) %></span>
    </i>
    <strong class="bold-small"><%= t(".#{@nomis_checker.prisoner_existance_error}_text") %></strong>
  </div>
<% end %>
<div class="grid-row push-top">
  <div class="column-one-third">
    <span class="text-secondary"><%= t('.prisoner_name', scope: [:prison, :visits, :prisoner_details]) %></span>
    <div class="bold-small"><%= visit.prisoner_full_name %></div>
  </div>
  <div class="column-one-third">
    <span class="text-secondary"><%= t('.prisoner_dob', scope: [:prison, :visits, :prisoner_details]) %></span>
    <div class="bold-small"><%= @booking_response.prisoner_date_of_birth.to_s(:short_nomis) %></div>
    <% case @nomis_checker.prisoner_existance_status %>
    <% when StaffNomisChecker::VALID %>
      <div class="tag tag--booked font-xsmall"><%= t('.verified', scope: [:prison, :visits, :prisoner_details]) %></div>
    <% when StaffNomisChecker::INVALID %>
      <div class="tag tag--error font-xsmall"><%= t(".#{@nomis_checker.prisoner_existance_status}") %></div>
    <% end %>
  </div>
  <div class="column-one-third">
    <span class="text-secondary"><%= t('.prisoner_number', scope: [:prison, :visits, :prisoner_details]) %></span>
    <div class="bold-small"><%= @booking_response.prisoner_number %></div>
    <% case @nomis_checker.prisoner_existance_status %>
    <% when StaffNomisChecker::VALID  %>
      <div class="font-xsmall tag tag--booked"><%= t('.verified', scope: [:prison, :visits, :prisoner_details]) %></div>
    <% when StaffNomisChecker::INVALID %>
      <div class="font-xsmall tag tag--error"><%= t(".#{@nomis_checker.prisoner_existance_status}") %></div>
    <% end %>
  </div>
</div>
