<h2 class="bold-medium"><%= t('.title') %></h2>
<div class="grid-row">
  <div class="column-full">
    <%= content_tag :div, class: 'visitor-card', id: dom_id(@booking_response.principal_visitor) do %>
      <h3 class="bold-small"><%= t('lead_visitor', scope: :shared) %></h3>
      <div class="grid-row">
        <div class="column-one-quarter">
          <dl>
            <dt><%= t('.name') %></dt>
            <dd><%= @booking_response.principal_visitor.full_name %></dd>
          </dl>
        </div>
        <div class="column-one-quarter">
          <dl>
            <dt><%= t('.dob') %></dt>
            <dd><%= @booking_response.principal_visitor.date_of_birth.to_s(:short_nomis) %> (<%= @booking_response.principal_visitor.age %>)</dd>
          </dl>
        </div>
        <div class="column-one-quarter">
          <dl>
            <dt><%= t('.email') %></dt>
            <dd><%= @booking_response.contact_email_address %></dd>
          </dl>
        </div>
        <div class="column-one-quarter">
          <dl>
            <dt><%= t('.phone_no') %></dt>
            <dd><%= @booking_response.contact_phone_no %></dd>
          </dl>
        </div>
        <div class="column-full">
          <div class="push-top--half">
            <label class="form-checkbox">
              <%=
                check_box_tag(
                  'booking_response[unlisted_visitor_ids][]',
                  @booking_response.principal_visitor.id,
                  f.object.unlisted_visitor_ids.include?(@booking_response.principal_visitor.id),
                  id: dom_id(@booking_response.principal_visitor, 'not_on_list')
                )
              %>
              <%= t('.visitor_not_on_list') %>
            </label>
            <label class="form-checkbox">
              <%=
                check_box_tag(
                  'booking_response[banned_visitor_ids][]',
                  @booking_response.principal_visitor.id,
                  f.object.banned_visitor_ids.include?(@booking_response.principal_visitor.id),
                  id: dom_id(@booking_response.principal_visitor, 'banned')
                )
              %>
              <%= t('.visitor_banned') %>
            </label>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% @booking_response.additional_visitors.each_with_index do |visitor, index| %>
    <div class="column-one-half">
      <%= content_tag :div, class: 'visitor-card', id: dom_id(visitor) do %>
        <h3 class="bold-small"><%= t('visitor_no', n: index + 2, scope: :shared) %></h3>
        <div class="grid-row">
          <div class="column-one-half">
            <dl>
              <dt><%= t('.name') %></dt>
              <dd><%= visitor.full_name %></dd>
            </dl>
          </div>
          <div class="column-one-half">
            <dl>
              <dt><%= t('.dob') %></dt>
              <dd><%= visitor.date_of_birth.to_s(:short_nomis) %> (<%= visitor.age %>)</dd>
            </dl>
          </div>
          <div class="column-full">
            <div class="push-top--half">
              <label class="form-checkbox">
                <%=
                  check_box_tag(
                    'booking_response[unlisted_visitor_ids][]',
                    visitor.id,
                    f.object.unlisted_visitor_ids.include?(visitor.id),
                    id: dom_id(visitor, 'not_on_list')
                  )
                %>
              <%= t('.visitor_not_on_list') %>
              </label>
              <label class="form-checkbox">
                <%=
                  check_box_tag(
                    'booking_response[banned_visitor_ids][]',
                    visitor.id,
                    f.object.banned_visitor_ids.include?(visitor.id),
                    id: dom_id(visitor, 'banned')
                  )
                %>
              <%= t('.visitor_banned') %>
              </label>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
