<li id="<%= dom_id(v)  %>" data-visitor='{"first_name": "<%= v.first_name %>", "last_name": "<%= v.last_name %>", "dob": "<%= v.date_of_birth %>"}'>
  <div class="error">
    <%= vf.label :banned, class: '' do %>
      <%= field_error(vf,:banned) %>
    <% end %>
    <%= vf.label :banned_until, class: '' do %>
      <%= field_error(vf,:banned_until) %>
    <% end %>
  </div>
  <div class="wrapper">
    <div class="column">
      <div class="name">
        <%= vf.hidden_field :id %>
        <%= v.full_name %>
      </div>
      <div class="dob">
        <%= v.date_of_birth.to_s(:short_nomis) %>
        <span class="font-xsmall">(<%= v.age %>)</span>
      </div>
    </div>
    <% if !@visit.contact_list_unknown? && @visit.contact_list_enabled? %>
      <div class="column column--large">
        <select class="form-control js-contactList">
          <option data-contact='{"uid": "0"}' value="0"><%= t('.please_select') %></option>
          <% @visit.approved_contacts.each do |visitor| %>
            <option data-contact='{
                "uid":"<%= visitor.id %>",
                "banned": "<%= visitor.banned? %>",
                "banned_until": "<%= visitor.banned_until %>"}'
                value="<%= visitor.id %>">
              <%= visitor.given_name %> <%= visitor.surname %> - <%= visitor.date_of_birth.to_s(:short_nomis) %>
            </option>
          <% end %>
        </select>
      </div>
    <% end %>
    <div class="column column--small">
      <%= vf.label :not_on_list, class: '' do %>
      <%= vf.check_box :not_on_list, data: { checkbox_summary_text: v.anonymized_name } %>
      <% end %>
    </div>
    <div class="column column--small">
      <%= error_container(vf,:banned) do %>
        <%= vf.label :banned, class: '' do %>
          <%= vf.check_box :banned %>
        <% end %>
      <% end %>
    </div>
    <div class="column column--large">
      <%= error_container(vf,:banned_until) do %>
        <%= vf.fields_for :banned_until, v.object.banned_until do |bu| %>
          <div class="form-date">
            <% accessible_date_options.each do |field_name, field_options| %>
              <div class="datefield form-group form-group-<%= field_name %>">
                <%= bu.label field_name %>
                <%= bu.number_field field_name, field_options.merge( class: 'form-control') %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
