<h2 class="bold-medium"><%= t('.title') %></h2>
<div class="grid-row push-top choose-date">
  <%= error_container(f, :selection) do %>
    <% f.object.slots.each_with_index do |slot, index| %>
      <div class="column-one-third">
        <label class="block-label date-box" for="booking_response_selection_slot_<%= index %>">
          <%=
            f.radio_button(
              :selection, "slot_#{index}",
              class: 'js-Conditional',
              data: { 'conditional-el': 'selected_slot_details' }
            )
          %>
          <%= t('.choice_html', n: index + 1, day: format_date_day(slot), date: format_date_of_birth(slot), time: format_slot_times(slot)) %>
        </label>
      </div>
    <% end %>
  <% end %>

  <div class="column-one-half">
    <div id="selected_slot_details" class="panel panel-border-narrow">
      <%= single_field(f, :reference_no, :text_field, class: 'form-control') %>

      <%=
        single_field(
          f, :closed_visit, :check_box
        )
      %>
    </div>
  </div>

  <div class="column-two-thirds push-top">
    <%= error_container(f, :selection) do %>
      <label class="block-label">
        <%=
          f.radio_button(
            :selection, :slot_unavailable,
            class: 'js-Conditional'
          )
        %>
        <%= t('.none_available') %>
      </label>
    <% end %>
  </div>
</div>
