<h2 class="bold-medium push-top"><%= t('.title') %></h2>
<div class="grid-row">
  <div class="column-full">
    <%= content_tag :div, class: 'visitor-card', id: dom_id(@visit.principal_visitor) do %>
      <div class="grid-row">
        <div class="column-one-quarter">
          <h3 class="bold-small"><%= t('lead_visitor', scope: :shared) %></h3>
        </div>
        <div class="column-one-quarter push-bottom--half">
          <% if @visit.principal_visitor.banned %>
            <span class="tag tag--rejected font-xsmall text-center">
              <%= t('.rejected_banned') %>
              <% if @visit.principal_visitor.banned_until? %>
                <%= t('.until') %> <%= @visit.principal_visitor.banned_until.to_date.to_fs(:short_nomis) %>
              <% end %>
            </span>
          <% elsif @visit.principal_visitor.not_on_list %>
            <span class="tag tag--rejected font-xsmall text-center">
              <%= t('.rejected_not_listed') %>
            </span>
          <% elsif @visit.principal_visitor.other_rejection_reason %>
            <span class="tag tag--rejected font-xsmall text-center">
              <%= t('.rejected_other') %>
            </span>
          <% else %>
            <span class="tag">
              &nbsp;
            </span>
          <% end %>
        </div>
      </div>
      <div class="grid-row">
        <div class="column-one-quarter">
          <dl>
            <dt><%= t('.name') %></dt>
            <dd><%= @visit.principal_visitor.full_name %></dd>
          </dl>
        </div>
        <div class="column-one-quarter">
          <dl>
            <dt><%= t('.dob') %></dt>
            <dd><%= @visit.principal_visitor.date_of_birth.to_fs(:short_nomis) %> (<%= @visit.principal_visitor.age %>)</dd>
          </dl>
        </div>
        <div class="column-one-quarter">
          <dl>
            <dt><%= t('.email') %></dt>
            <dd class="wrap-text"><%= @visit.contact_email_address %></dd>
          </dl>
        </div>
        <div class="column-one-quarter">
          <dl>
            <dt><%= t('.phone_no') %></dt>
            <dd><%= @visit.contact_phone_no %></dd>
          </dl>
        </div>
      </div>
    <% end %>
  </div>

  <% @visit.additional_visitors.each_with_index do |visitor, index| %>
    <div class="column-one-half">
      <%= content_tag :div, class: 'visitor-card', id: dom_id(visitor) do %>
        <div class="grid-row">
          <div class="column-one-half">
            <h3 class="bold-small"><%= t('visitor_no', n: index + 2, scope: :shared) %></h3>
          </div>
          <div class="column-one-half push-bottom--half">
            <% if visitor.banned %>
              <span class="tag tag--rejected font-xsmall text-center">
                <%= t('.rejected_banned') %>
                <% if visitor.banned_until? %>
                  <%= t('.until') %> <%= visitor.banned_until.to_date.to_fs(:short_nomis) %>
                <% end %>
              </span>
            <% elsif visitor.not_on_list %>
              <span class="tag tag--rejected font-xsmall text-center">
                <%= t('.rejected_not_listed') %>
              </span>
            <% elsif visitor.other_rejection_reason %>
              <span class="tag tag--rejected font-xsmall text-center">
                <%= t('.rejected_other') %>
              </span>
            <% else %>
              <span class="tag">
                &nbsp;
              </span>
            <% end %>
          </div>
        </div>
        <div class="grid-row">
          <div class="column-one-half">
            <dl>
              <dt><%= t('.name') %></dt>
              <dd><%= visitor.full_name %></dd>
            </dl>
          </div>
          <div class="column-one-half">
            <dl>
              <dt><%= t('.dob') %></dt>
              <dd><%= visitor.date_of_birth.to_fs(:short_nomis) %> (<%= visitor.age %>)</dd>
            </dl>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
