<li id="<%= dom_id(v)  %>" data-visitor='{"first_name": "<%= v.first_name %>", "last_name": "<%= v.last_name %>", "dob": "<%= v.date_of_birth %>"}' data-banned="false" data-processed="false">
  <div class="error">
    <%= vf.label :banned, class: '' do %>
      <%= field_error(vf,:banned) %>
    <% end %>
    <%= vf.label :banned_until, class: '' do %>
      <%= field_error(vf,:banned_until) %>
    <% end %>
  </div>
  <div class="wrapper">
    <div class="column">
      <div class="name">
        <%= vf.hidden_field :id %>
        <span class="bold-small"><%= v.full_name %></span> - <%= v.date_of_birth.to_fs(:short_nomis) %>
        <span class="font-small">(<%= v.age %>)</span>
      </div>
      <% if @visit.principal_visitor == v %>
        <p>
        <a href="mailto:<%= @visit.contact_email_address %>" class="wrap-text"><%= @visit.contact_email_address %></a>
        </br/>
        <%= @visit.contact_phone_no %></p>
      <% end %>

      <% vf.object.errors.full_messages.each do |error_msg| %>
        <p class="error-message"><%= error_msg %></p>
      <% end %>
    </div>
    <div class="column">
      <% if !@visit.contact_list_unknown? %>
        <%= v.contact_list_matching(vf) %>
      <% end %>
    </div>
  </div>
  <div class="bold-small push-bottom--half"><%= t('.rejections_header') %></div>
  <div class="grid-row">
    <div class="column-half">
      <%= render 'prison/visits/not_on_list', vf: vf, v: v  %>
      <%= render 'prison/visits/other_reason', vf: vf, v: v  %>
    </div>
    <div class="column-half">
      <%= render 'prison/visits/banned', vf: vf, v: v  %>
    </div>
  </div>
</li>
