<li id="<%= dom_id(v)  %>" data-visitor='{"first_name": "<%= v.first_name %>", "last_name": "<%= v.last_name %>", "dob": "<%= v.date_of_birth %>"}'>
  <div class="error">
    <%= vf.label :banned, class: '' do %>
      <%= field_error(vf,:banned) %>
    <% end %>
    <%= vf.label :banned_until, class: '' do %>
      <%= field_error(vf,:banned_until) %>
    <% end %>
  </div>
  <div class="wrapper">
    <div class="column">
      <div class="name">
        <%= vf.hidden_field :id %>
        <span class="bold-small"><%= v.full_name %></span> - <%= v.date_of_birth.to_s(:short_nomis) %>
        <span class="font-small">(<%= v.age %>)</span>
      </div>
      <% if @visit.principal_visitor == v %>
        <p>
        <a href="mailto:<%= @visit.contact_email_address %>"><%= @visit.contact_email_address %></a>
        </br/>
        <%= @visit.contact_phone_no %></p>
      <% end %>
    </div>
    <div class="column">
      <% if !@visit.contact_list_unknown? && @visit.contact_list_enabled? %>
        <div class="form-group">
          <label for="nomis_contacts_<%= dom_id(v) %>" class="form-label"><%= t('.nomis_list') %></label>
          <select class="form-control js-contactList" name="nomis_contacts_<%= dom_id(v) %>" id="nomis_contacts_<%= dom_id(v) %>">
          <option data-contact='{"uid": "0"}' value="0"><%= t('.please_select') %></option>
          <% @visit.approved_contacts.each do |visitor| %>
            <option data-contact='{
                "uid":"<%= visitor.id %>",
                "banned": "<%= visitor.banned? %>"
                }'
                value="<%= visitor.id %>">
              <%= visitor.given_name %> <%= visitor.surname %> - <%= visitor.date_of_birth.to_s(:short_nomis) %>
            </option>
          <% end %>
          </select>
        </div>
      <% end %>
      <%= vf.label :not_on_list, class: 'form-group' do %>
        <%= vf.check_box :not_on_list, data: { checkbox_summary_text: v.anonymized_name } %>
        <%= t('.not_on_list') %>
      <% end %>
      <%= vf.label :banned, class: 'form-group' do %>
        <%= vf.check_box :banned %>
        <%= t('.banned') %>
      <% end %>
    </div>
  </div>
</li>
