<h2 class="bold-medium"><%= t('.title') %></h2>

<% if @visit.prisoner_availability_unknown? %>
  <div class="notice push-top">
    <i class="icon icon-important">
      <span class="visuallyhidden"><%= t('warning', scope: :shared) %></span>
    </i>
    <strong class="bold-small"><%= t('.prisoner_availability_unknown') %></strong>
  </div>
<% end %>

<% if @visit.slot_availability_unknown? %>
  <div class="notice push-top">
    <i class="icon icon-important">
      <span class="visuallyhidden"><%= t('warning', scope: :shared) %></span>
    </i>
    <strong class="bold-small"><%= t('.slot_availability_unknown') %></strong>
  </div>
<% end %>

<div class="grid-row push-top choose-date">
  <%= error_container(f, :slot_granted) do %>
    <% f.object.slots.each do |slot| %>
      <div class="column-one-quarter">
        <%= slot.slot_picker(f) %>
      </div>
    <% end %>
    <div class="column-one-quarter">
      <div class="date-box">
        <div class="multiple-choice">
          <%= f.radio_button :slot_granted, Rejection::SLOT_UNAVAILABLE, { checked: @visit.slots_unavailable?, id: 'no_slot_available', class: 'js-Conditional js-Rejection', 'data-rejection-el': 'rejection-message', 'data-success-el': 'nomis-opt-out' }%>
          <%= f.label :slot_granted, t('.none_available'), for: 'no_slot_available' %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="column-one-half">
    <div id="selected_slot_details" class="panel panel-border-narrow">
      <%= single_field f, :reference_no, :text_field, class: 'form-control' %>
      <%= single_field f, :closed, :check_box  %>
    </div>
  </div>

</div>

<div class="js-clearRadioButtons">
  <a href="#" class="button button-secondary js-clearRadioButton" data-target="visit[slot_granted]"><%= t('clear_selection', scope: :shared) %></a>
</div>
