<h2><%= t('.title') %></h2>

<%= error_container(f, :selection) do %>
  <label class="block-label">
    <%=
      f.radio_button(
        :selection, :no_allowance,
        class: 'js-Conditional',
        data: { 'conditional-el': 'no_allowance_details' }
      )
    %>
    <%= t('.no_allowance') %>
  </label>
<% end %>

<div id="no_allowance_details" class="panel panel-border-narrow">
  <h3><%= t('prison.visits.shared.what_we_will_tell') %></h3>

  <blockquote>
    <%= t('.no_allowance_wording_html') %>
  </blockquote>

  <p><%= t('.no_allowance_tell_more') %></p>

  <%=
    single_field(
      f, :allowance_will_renew, :check_box,
      class: 'js-Conditional',
      data: { 'conditional-el': 'allowance_will_renew_details' }
    )
  %>

  <div id="allowance_will_renew_details">
    <%= error_container(f, :allowance_renews_on) do %>
      <%=
        render(
          'calendar',
          prison: f.object.prison,
          name: 'booking_response[allowance_renews_on]'
        )
      %>
    <% end %>

    <h3><%= t('prison.visits.shared.what_we_will_tell') %></h3>

    <blockquote>
      <%=
        t(
          '.allowance_will_renew_wording_html',
          prisoner: f.object.prisoner_full_name
        )
      %>
    </blockquote>
  </div>

  <%=
    single_field(
      f, :privileged_allowance_available, :check_box,
      class: 'js-Conditional',
      data: { 'conditional-el': 'privileged_allowance_available_details' }
    )
  %>

  <div id="privileged_allowance_available_details">
    <%= error_container(f, :privileged_allowance_expires_on) do %>
      <%=
        render(
          'calendar',
          prison: f.object.prison,
          name: 'booking_response[privileged_allowance_expires_on]'
        )
      %>
    <% end %>

    <h3><%= t('prison.visits.shared.what_we_will_tell') %></h3>

    <blockquote>
      <%= t('.privileged_allowance_available_wording_html') %>
    </blockquote>
  </div>
</div>
