<h2 class="bold-medium"><%= t('.title') %></h2>

<% if @visit.prisoner_availability_unknown? %>
  <div class="notice push-top">
    <i class="icon icon-important">
      <span class="visuallyhidden"><%= t('warning', scope: :shared) %></span>
    </i>
    <strong class="bold-small"><%= t('.prisoner_availability_unknown') %></strong>
  </div>

<% end %>

<% if @visit.slot_availability_unknown? %>
  <div class="notice push-top">
    <i class="icon icon-important">
      <span class="visuallyhidden"><%= t('warning', scope: :shared) %></span>
    </i>
    <strong class="bold-small"><%= t('.slot_availability_unknown') %></strong>
  </div>

<% end %>

<div class="grid-row push-top choose-date">
  <%= error_container(f, :slot_granted) do %>

    <% f.object.slots.each do |slot| %>
      <div class="column-one-third">
        <%= slot.slot_picker(f) %>
      </div>
    <% end %>
  <% end %>

  <div class="column-one-half">
    <div id="selected_slot_details" class="panel panel-border-narrow">
      <%= single_field f, :reference_no, :text_field, class: 'form-control' %>
      <%= single_field f, :closed, :check_box  %>
    </div>
  </div>

  <div class="column-two-thirds push-top push-bottom--half">
      <%= error_container f, :slot_granted do %>
      <label class="block-label">
        <%= f.radio_button :slot_granted, Rejection::SLOT_UNAVAILABLE, { checked: @visit.slots_unavailable?, class: 'js-Conditional' }%>
        <%= t('.none_available') %>
      </label>
    <% end %>
  </div>
</div>

<div class="js-clearRadioButtons">
  <a href="#" class="js-clearRadioButton" data-target="visit[slot_granted]"><%= t('clear_selection', scope: :shared) %></a>
</div>
