<h2 class="bold-medium"><%= t('.title') %></h2>

<% if true || @visit.prisoner_availability_unknown? %>
  <marquee>Prisoner availability unknown</marquee>
<% end %>

<div class="grid-row push-top choose-date">
  <%= error_container(f, :slot_granted) do %>

    <% f.object.slots.each do |slot| %>
      <div class="column-one-third">
        <%= slot.slot_picker(f) %>
      </div>
    <% end %>
  <% end %>

  <div class="column-one-half">
    <div id="selected_slot_details" class="panel panel-border-narrow">
      <%= single_field f, :reference_no, :text_field, class: 'form-control' %>
      <%= single_field f, :closed, :check_box  %>
    </div>
  </div>

  <div class="column-two-thirds push-top">
      <%= error_container f, :slot_granted do %>
      <label class="block-label">
        <%= f.radio_button :slot_granted, Rejection::SLOT_UNAVAILABLE, {class: 'js-Conditional'} %>
        <%= t('.none_available') %>
      </label>
    <% end %>
  </div>
</div>
