<% content_for :header do %>
  <%= t('.title') %>
<% end %>

<p>
  <% case @visit.processing_state %>
  <% when 'cancelled' %>
    <%= t(".#{@visit.processing_state}",
      date: format_date_without_year(@visit.date),
      prisoner: @visit.prisoner_full_name) %>
  <% else %>
    <%= t(".#{@visit.processing_state}") %>
  <% end %>
</p>

<% if @visit.can_cancel? %>
  <h2 class="heading-medium"><%= t('.cancel_title') %></h2>
  <p><%= t('.cancel_description') %></p>
  <div class='grid-row'>
    <div class='column-one-half'>
      <%= form_tag prison_cancel_visit_path(@visit, locale: 'en'), method: :delete, class: 'form' do -%>
        <fieldset>
          <% Cancellation::STAFF_REASONS.each_with_index do |reason, index| %>
            <label class="block-label" for="cancellation_reason_<%= reason %>">
              <%= radio_button_tag 'cancellation_reason', reason, index.zero? %>
              <%= t(".#{reason}") %>
            </label>
            <br/>
          <% end %>
        </fieldset>
        <div class='form-group'>
          <%= submit_tag t('.cancel_button'), class: 'button' %>
        </div>
      <% end -%>
    </div>
  </div>
<% end %>
