<% content_for :header do %>
  <%= t('.title') %>
<% end %>

<%= render(partial: 'people_box') %>

<div class="processing-form confirmations">
  <%= t('.introduction_html') %>

  <%=
    form_for(
      @booking_response,
      url: prison_visit_path(@booking_response),
      method: :put
    ) do |f|
  %>
    <%= render(partial: 'visit_date_section', locals: { f: f }) %>
    <%= render(partial: 'visiting_allowance_section', locals: { f: f }) %>
    <%= render(partial: 'issue_with_prisoner_section', locals: { f: f }) %>
    <%= render(partial: 'issue_with_visitors_section', locals: { f: f }) %>

    <div class="actions">
      <div class="primary-actions">
        <%= f.submit(t('.submit'), class: 'button button-primary') %>
      </div>
    </div>
  <% end %>
</div>
