<%= render 'prison/dashboards/banner' %>

<%= render 'prison/dashboards/navigation' %>

<div class="grid-row">
  <div class="column-one-third">
    <h1 class="bold-large float-left"><%= t('.title') %></h1>
    <span class="tag tag--heading tag-<%= @visit.processing_state %> font-xsmall float-left"><%= @visit.processing_state.capitalize %></span>
  </div>
  <div class="column-two-thirds">
    <div class="grid-row">
      <div class="column-one-third">
        <div class="text-secondary"><%= t('requested', scope: 'shared') %>: <br><%= @visit.created_at.to_s(:short) %></div>
      </div>
      <div class="column-one-third">
        <div class="text-secondary"><%= @visit.processing_state.capitalize %>: <br><%= @visit.updated_at.to_s(:short) %></div>
      </div>
      <div class="column-one-third">
        <% if @visit.reference_no -%>
          <div class="text-secondary"><%= t('.ref') %>: <br><%= @visit.reference_no %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="grid-row">
  <% if (@visit.closed? && @visit.booked?) %>
    <div class="column-two-thirds push-top">
      <div class="panel panel-border-narrow">
        <small class="text-secondary"><%= t('.closed_visit') %></small>
      </div>
    </div>
  <% end %>
  <% if @visit.rejection %>
    <div class="column-two-thirds push-top">
      <div class="panel panel-border-narrow">
        <div class="text-secondary">
          <%= @visit.processing_state.capitalize %> reason
        </div>
        <small class="font-xsmall"><%= t(@visit.rejection_reason, scope: :shared) %></small>
      </div>
    </div>
  <% end %>
  <% if @visit.cancelled? %>
    <div class="column-two-thirds push-top">
      <div class="panel panel-border-narrow">
        <div class="text-secondary">
          <%= @visit.processing_state.capitalize %> reason
        </div>
        <small class="font-xsmall"><%= t(@visit.cancellation_reason, scope: :shared) %></small>
      </div>
    </div>
  <% end %>
</div>

<hr>
<%= render('prisoner_details', visit: @visit) %>

<%= form_tag prison_cancel_visit_path(@visit, locale: 'en'), method: :delete, class: 'form' do -%>

  <%= render 'cancel_prisoner' %>

  <hr>

  <h2 class="bold-medium">Visit date</h2>
  <div class="grid-row push-top date-box--chosen">
    <% @visit.slots.each_with_index do |slot, i| %>
    <div class="column-one-third">
      <div class="block-label date-box <%= 'selected' if @visit.slot_granted == slot %>">
        <span class="date-box__number"><%= ActiveSupport::Inflector.ordinalize(i+1) %></span>
        <span class="date-box__day"><%= format_date_day(slot) %></span>
        <br><%= format_date_of_birth(slot) %> <br><%= format_slot_times(slot) %>
      </div>
    </div>
    <% end %>
  </div>
  <%= render 'cancel_date' %>

  <hr>

  <h2 class="bold-medium push-bottom"><%= t('visitors', scope: :shared) %></h2>
  <div class="visitor-labels">
    <div class="grid-row">
      <% @visit.visitors.each_with_index do |visitor, index| %>
        <%= render 'visitor_detail', visitor: visitor, index: index %>
      <% end %>
    </div>
  </div>
  <%= render 'cancel_visitor' %>

<% end %> <!-- end form tag -->
<hr>

<div class="grid-row">
  <div class="column-two-thirds">
    <% if @message %>
      <h3 class="heading-medium"><%= t('.message_title') %></h3>
      <p><blockquote><%= @message.body %></blockquote></p>
    <% end %>
  </div>
  <div class="column-one-third">
    <h3 class="heading-medium">Visit history</h3>
    <%= render('timeline') %>
  </div>
</div>
