<%= render 'prison/dashboards/banner' %>
<% if @visit.can_cancel? %>
  <a class="float-right" href="#cancel"><%= t('cancel', scope: :shared) %></a>
<% end %>

<% content_for :header do %>
  <%= t('.title') %>
<% end %>

<%= render 'prison/dashboards/navigation' %>


<div class="grid-row">
  <div class="column-two-thirds">
    <span class="text-secondary"><%= t('status', scope: :shared) %></span>
    <h2 class="bold-medium">
      <%= @visit.processing_state.capitalize %>
      <% if @visit.rejection %>
        <small class="font-xsmall">(<%= t(@visit.rejection_reason, scope: 'shared.rejection_reason') %>)</small>
      <% end %>
    </h2>
  </div>
</div>

<div class="grid-row push-top">
  <div class="column-quarter">
    <span class="text-secondary"><%= t('visit_date', scope: :shared) %></span>
    <h2 class="bold-medium">
      <%= @visit.slots.first.to_date.to_s(:short_nomis) %>
    </h2>
  </div>
  <div class="column-quarter">
    <span class="text-secondary"><%= t('time_slot', scope: :shared) %></span>
    <h2 class="bold-medium">
      <%= format_slot_times(@visit.slots.first) %>
    </h2>
  </div>
  <div class="column-quarter">
    <span class="text-secondary"><%= t('requested_on', scope: :shared) %></span>
      <h2 class="bold-medium">
        <%= @visit.created_at.to_s(:short) %>
      </h2>
  </div>
  <div class="column-quarter">
    <span class="text-secondary"><%= t('processed_on', scope: :shared) %></span>
      <h2 class="bold-medium">
        <%= @visit.updated_at.to_s(:short) %>
      </h2>
  </div>
</div>

<hr>

<div class="grid-row">
  <div class="column-two-thirds">
    <h3 class="bold-medium"><%= t('prisoner', scope: :shared) %></h3>
    <table>
      <caption class="visuallyhidden"><%= t('prisoner', scope: :shared) %></caption>
      <thead>
        <tr>
          <th><%= t('name', scope: :shared) %></th>
          <th><%= t('prisoner_number', scope: :shared) %></th>
          <th><%= t('dob', scope: :shared) %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @visit.prisoner_full_name %></td>
          <td><%= @visit.prisoner_number %></td>
          <td><%= @visit.prisoner_date_of_birth.to_s(:short_nomis) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h3 class="heading-medium"><%= t('visitors', scope: :shared) %></h3>

<table>
  <caption class="visuallyhidden"><%= t('visitors', scope: :shared) %></caption>
  <thead>
    <tr>
      <th><%= t('name', scope: :shared) %></th>
      <th><%= t('dob', scope: :shared) %></th>
      <th><%= t('email_address', scope: :shared) %></th>
      <th><%= t('tel', scope: :shared) %></th>
      <th><%= t('status', scope: :shared) %></th>
    </tr>
  </thead>
  <tbody>
    <%= render 'visitor_row', visitor: @visit.principal_visitor, lead: true %>
    <% @visit.visitors[1..-1].each do |visitor| %>
      <%= render 'visitor_row', visitor: visitor, lead: false %>
    <% end %>
  </tbody>
</table>

<% if @visit.can_cancel? %>
  <h3 class="heading-medium" id="cancel"><%= t('.cancel_title') %></h3>
  <p><%= t('.cancel_description') %></p>
  <div class='grid-row'>
    <div class='column-one-half'>
      <%= form_tag prison_cancel_visit_path(@visit, locale: 'en'), method: :delete, class: 'form' do -%>
        <fieldset>
          <% Cancellation::STAFF_REASONS.each_with_index do |reason, index| %>
            <label class="block-label" for="cancellation_reason_<%= reason %>">
              <%= radio_button_tag 'cancellation_reason', reason, index.zero? %>
              <%= t(".#{reason}") %>
            </label>
            <br/>
          <% end %>
        </fieldset>
        <div class='form-group'>
          <%= submit_tag t('.cancel_button'), class: 'button' %>
        </div>
      <% end -%>
    </div>
  </div>
<% end %>
