<tr class="hidden-row hide" aria-hidden="true" aria-expanded="false">
  <td colspan="9" class="request-details">
    <div class="request-row-details">
      <dl>
        <dt><%= t('.booked_date') %></dt>
        <dd><%= format_visit_slot_date_for_staff(visit) %><br><%= format_visit_slot_times_for_staff(visit) %></dd>
      </dl>
      <dl>
        <dt><%= t('reference_number', scope: :shared) %></dt>
        <dd><%= visit.reference_no %></dd>
      </dl>
    </div>
    <div class="request-row-details push-top">
      <dl>
        <dt><%= t('lead_visitor', scope: :shared) %></dt>
        <dd><%= render 'visitor_full_name_with_status', visitor: visit.principal_visitor %></dd>
      </dl>
      <dl>
        <dt><%= t('dob', scope: :shared) %> (<%= t('age', scope: :shared) %>)</dt>
        <dd><%= visit.principal_visitor.date_of_birth.to_s(:short_nomis) %> (<%= visit.principal_visitor.age %>)</dd>
      </dl>
      <dl>
        <dt><%= t('email_address', scope: :shared) %></dt>
        <dd><%= visit.contact_email_address %></dd>
      </dl>
      <dl>
        <dt><%= t('tel', scope: :shared) %></dt>
        <dd><%= visit.contact_phone_no %></dd>
      </dl>
    </div>
    <% if visit.additional_visitors.any? %>
      <div class="request-row-details push-top">
        <dl>
          <dt><%= t('other_visitors', scope: :shared) %></dt>
          <% visit.additional_visitors.each do |visitor| %>
            <dd><%= render 'visitor_full_name_with_status', visitor: visitor %></dd>
          <% end %>
        </dl>
        <dl>
          <dt><%= t('dob', scope: :shared) %> (<%= t('age', scope: :shared) %>)</dt>
          <% visit.additional_visitors.each do |visitor| %>
            <dd><%= visitor.date_of_birth.to_s(:short_nomis) %> (<%= visitor.age %>)</dd>
          <% end %>
        </dl>
      </div>
    <% end %>
  </td>
</tr>
