<% if @cancellations.any? %>
  <p><%= t('.cancel_text') %></p>
  <table class="table--hover push-bottom push-top--half">
    <caption class="visuallyhidden"><%= t('.table_caption') %></caption>
    <thead>
      <tr>
        <th scope="col"><%= t('prisoner_number', scope: :shared) %></th>
        <th scope="col"><%= t('prisoner_name', scope: :shared) %></th>
        <th scope="col"><%= t('dob', scope: :shared) %></th>
        <th scope="col"><%= t('visit_date', scope: :shared) %></th>
        <th scope="col"><%= t('time_slot', scope: :shared) %></th>
        <th scope="col"><%= t('cancelled', scope: :shared) %></th>
        <th scope="col"><%= t('prison', scope: :shared) %></th>
        <th scope="col"><%= t('reference', scope: :shared) %></th>
        <th scope="col" class="col-actions"><%= t('actions', scope: :shared) %></th>
      </tr>
    </thead>
    <tbody>
      <% @cancellations.each do |visit| %>
        <tr>
          <td aria-label="<%= t('prisoner_number', scope: :shared) %>"><%= visit.prisoner_number %></td>
          <td class="long" aria-label="<%= t('prisoner_name', scope: :shared) %>"><%= visit.prisoner_full_name %></td>
          <td class="long" aria-label="<%= t('dob', scope: :shared) %>"><%= visit.prisoner_date_of_birth.to_fs(:short_nomis) %></td>
          <td aria-label="<%= t('visit_date', scope: :shared) %>"><%= format_visit_slot_date_for_staff(visit) %></td>
          <td aria-label="<%= t('time_slot', scope: :shared) %>"><%= format_visit_slot_times_for_staff(visit) %></td>
          <td aria-label="<%= t('cancelled', scope: :shared) %>"><%= visit.cancellation.created_at.to_fs(:short) %></td>
          <td aria-label="<%= t('prison', scope: :shared) %>"><%= visit.prison_name %></td>
          <td aria-label="<%= t('reference_number', scope: :shared) %>"><%= visit.reference_no %></td>
          <td aria-label="<%= t('actions', scope: :shared) %>">
          <%=
            form_for(
              visit,
              url: nomis_cancelled_prison_visit_path(visit),
              method: :post,
              html: { class: 'js-SubmitOnce' }
            ) do |f|
          %>
            <%= f.submit(t('cancelled', scope: :shared), class: 'button') %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="lede"><%= t('.no_cancellations') %></p>
<% end %>
