<table class="table--hover push-bottom push-top--half">
  <caption class="visuallyhidden"><%= t('title', scope: [:prison, :dashboards, :inbox]) %></caption>
  <thead>
    <tr>
      <th scope="col"><%= t('prisoner_name', scope: :shared) %></th>
      <th scope="col"><%= t('visit_date', scope: :shared) %></th>
      <th scope="col"><%= t('visitor_name', scope: :shared) %></th>
      <th scope="col"><%= t('requested', scope: :shared) %></th>
      <th scope="col"><%= t('prison', scope: :shared) %></th>
      <th scope="col" class="col-actions"><%= t('actions', scope: :shared) %></th>
    </tr>
  </thead>
  <tbody>
    <% visits.each do |visit| %>
      <tr>
        <td class="long" aria-label="<%= t('prisoner_name', scope: :shared) %>"><%= visit.prisoner_full_name %></td>
        <td aria-label="<%= t('visit_date', scope: :shared) %>"><%= visit.slots.first.to_date.to_fs(:short_nomis) %></td>
        <td aria-label="<%= t('visitor_name', scope: :shared) %>"><%= visit.principal_visitor.full_name %></td>
        <td aria-label="<%= t('requested', scope: :shared) %>"><%= visit.created_at.to_fs(:short) %></td>
        <td aria-label="<%= t('prison', scope: :shared) %>"><%= visit.prison_name %></td>
        <td aria-label="<%= t('actions', scope: :shared) %>">
          <%= link_to prison_visit_path(visit), title: t('view', scope: :shared) do %>
            <%= t('view', scope: :shared) %>
            <span class="visuallyhidden"><%= t('visit_link_desc', name: visit.prisoner_full_name, number: visit.prisoner_number, scope: [:prison, :dashboards, :inbox]) %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
