<% @requested_visits.group_by {|v| v.created_at.to_date}.each do |date, booking| %>
  <h3 class="bold-medium">
    <span class="text-secondary font-small"><%= t('requested_on', scope: :shared) %></span>
    <%= date.to_s(:short) %>
  </h3>
  <table class="table--hover push-bottom push-top--half">
    <caption class="visuallyhidden"><%= t('title', scope: [:prison, :dashboards, :inbox]).capitalize %> - <%= t('requested_on', scope: :shared).downcase %><%= date.to_s(:short) %></caption>
    <thead>
      <tr>
        <th scope="col"><span class="visuallyhidden"><%= t('open_close', scope: :shared) %></span></th>
        <th scope="col"><%= t('prisoner_number', scope: :shared) %></th>
        <th scope="col"><%= t('prisoner_name', scope: :shared) %></th>
        <th scope="col"><%= t('dob', scope: :shared) %></th>
        <th scope="col"><%= t('visit_date', scope: :shared) %></th>
        <th scope="col" class="col-time"><%= t('time_slot', scope: :shared) %></th>
        <th scope="col"><%= t('visitors', scope: :shared) %></th>
        <th scope="col"><%= t('requested', scope: :shared) %></th>
        <th scope="col" class="col-actions"><%= t('actions', scope: :shared) %></th>
      </tr>
    </thead>
    <tbody>
      <% booking.each do |visit| %>
        <%= render 'request_summary_row', visit: visit %>
        <%= render 'request_details_row', visit: visit %>
      <% end %>
    </tbody>
  </table>
<% end %>