<% content_for :navigation do %>
  <div class="navigation hidden--print">
    <ol>
      <%= nav_link t('.inbox_html', inbox_count: EstateVisitQuery.new(current_estates).inbox_count), prison_inbox_path %>
      <%= nav_link t('.processed'), prison_processed_visits_path %>
      <%= nav_link t('.print_visits'), new_prison_print_visit_path %>

      <li class="float-right text-right">
        <%= form_tag prison_search_path, method: :get, enforce_utf8: false, class: 'form search' do -%>
            <%= label_tag "query", class: "form-label" do -%>
              <%= t('search', scope: :shared) %>
            <% end %>
            <div class="js-searchPlaceholder search-input-wrapper <%= 'focus' if params[:query].present? %>">
              <%= text_field_tag 'query', params[:query], class: 'form-control' %>
            </div>
            <%= button_tag(type: 'submit', class: 'button search', title: t('search', scope: 'shared')) do -%>
              <div class="visuallyhidden"><%= t('.click_to_search') %></div>
            <% end -%>
        <% end -%>
      </li>
    </ol>
  </div>
<% end %>
