<% content_for :navigation do %>
  <div class="navigation hidden--print">
    <ol>
      <li><%= link_to t('.requested'), prison_estate_dashboard_path(estate.finder_slug) %></li>
      <li><%= link_to t('.processed'), prison_processed_visits_path(estate.finder_slug) %></li>
      <li><%= link_to t('.print_visits'), prison_print_visits_path(estate.finder_slug) %></li>
      <li class="float-right">
        <%= t('.current') %>
        <%= estate.name %> (<%= link_to t('.change'), prison_dashboards_root_path %>)</li>
    </ol>
  </div>
<% end %>
