<% content_for :navigation do %>
  <div class="navigation hidden--print">
    <ol>
      <%= nav_link t('.inbox_html', inbox_count: EstateVisitQuery.new(current_estate).inbox_count), prison_inbox_path %>
      <%= nav_link t('.processed'), prison_processed_visits_path %>
      <%= nav_link t('.print_visits'), prison_print_visits_path %>

      <li class="float-right text-right">
        <%= form_tag prison_search_path, method: :get, enforce_utf8: false, class: 'form search' do -%>
            <div class="search-input-wrapper">
              <%= label_tag "prisoner_number", class: "form-label" do -%>
                <%= t('search', scope: :shared) %>
              <% end %>
              <%= text_field_tag 'prisoner_number', params[:prisoner_number], class: 'form-control' %>
            </div>
            <%= button_tag(type: 'submit', class: 'button search', title: "Search") do -%>
              <img alt="Click to search" class="search-icon" src="<%= image_path('icons/search-ico.svg') %>">
            <% end -%>
        <% end -%>
      </li>
    </ol>
  </div>
<% end %>
