<h3 class="heading-large">
  <span class="heading-secondary"><%= format_date_without_year(@visit_date) %></span>
  <%= format_slot_times(slot) %>
</h3>
<table>
  <caption class="visually-hidden"><%= t('time_slot', scope: :shared) %> <%= format_slot_times(slot) %></caption>
  <thead>
    <tr>
      <th scope="col"><%= t('prisoner_name', scope: :shared) %></th>
      <th scope="col"><%= t('prisoner_number', scope: :shared) %></th>
      <th scope="col"><%= t('lead_visitor', scope: :shared) %></th>
      <th scope="col"><%= t('tel', scope: :shared) %></th>
      <th scope="col"><%= t('additional_visitors', scope: :shared) %></th>
      <th scope="col"><%= t('prison', scope: :shared) %></th>
      <th scope="col"><%= t('closed', scope: :shared) %></th>
    </tr>
  </thead>
  <tbody>
    <% visits.each do |visit| %>
      <tr>
        <td aria-label="<%= t('prisoner_name', scope: :shared) %>"><%= visit.prisoner_full_name %></td>
        <td aria-label="<%= t('prisoner_number', scope: :shared) %>"><%= visit.prisoner_number %></td>
        <td aria-label="<%= t('lead_visitor', scope: :shared) %>"><%= visit.principal_visitor.full_name %><br>(<%= visit.principal_visitor.date_of_birth.to_fs(:short_nomis) %>)</td>
        <td aria-label="<%= t('tel', scope: :shared) %>"><%= visit.contact_phone_no %></td>
        <td aria-label="<%= t('additional_visitors', scope: :shared) %>">
          <div>
            <% visit.allowed_visitors[1..-1].each do |visitor| %>
              <%= visitor.full_name %> (<%= visitor.date_of_birth.to_fs(:short_nomis) %>)<br>
            <% end %>
          </div>
        </td>
        <td aria-label="<%= t('prison', scope: :shared) %>"><%= visit.prison_name %></td>
        <td aria-label="<%= t('closed', scope: :shared) %>"><%= 'Y' if visit.closed %></td>
      </tr>
    <% end %>
  </tbody>
</table>
