<div class="grid-row push-bottom">
  <div class="column-full">
    <% content_for :prison_switcher do %>
      <% if sso_identity.accessible_estates.size > 1 -%>
        <%= form_tag prison_switch_estates_path, enforce_utf8: false, class: 'form' do -%>
          <%= label_tag "estate_id", class: "form-label" do -%>
            <%= t('.prison_switcher') %>
          <% end %>
          <%= select_tag 'estates_id',
                         options_from_collection_for_select(sso_identity.accessible_estates, 'id', 'name', current_estates.map(&:id)),
                         multiple: true,
                         class: 'form-control js-MultiSelect prison-switcher',
                         'data-placeholder': t('.prison_switcher') %>
          <%= submit_tag t('.switch_estate'), class: 'button button-primary' %>
        <% end -%>
      <% end -%>
  <% end -%>
</div>
</div>
