<% if @processed_visits.any? %>
  <table class="table--hover">
    <caption class="visuallyhidden"><%= t('.title') %></caption>
    <thead>
      <tr>
        <th scope="col"><%= t('prisoner', scope: :shared) %></th>
        <th scope="col"><%= t('lead_visitor', scope: :shared) %></th>
        <th scope="col"><%= t('tel', scope: :shared) %></th>
        <th scope="col"><%= t('visit_date', scope: :shared) %></th>
        <th scope="col" class="col-time"><%= t('time_slot', scope: :shared) %></th>
        <th scope="col"><%= t('status', scope: :shared) %></th>
        <th scope="col"><%= t('prison', scope: :shared) %></th>
        <th scope="col" class="col-actions"><%= t('actions', scope: :shared) %></th>
      </tr>
    </thead>
    <tbody>
      <% @processed_visits.each do |visit| %>
        <tr>
          <td aria-label="<%= t('prisoner', scope: :shared) %>"><%= visit.prisoner_number %><br/><%= visit.prisoner_full_name %></td>
          <td class="long" aria-label="<%= t('lead_visitor', scope: :shared) %>"><%= visit.visitor_full_name %></td>
          <td aria-label="<%= t('tel', scope: :shared) %>"><%= visit.contact_phone_no %></td>
          <td aria-label="<%= t('visit_date', scope: :shared) %>"><%= format_visit_slot_date_for_staff(visit) %></td>
          <td aria-label="<%= t('time_slot', scope: :shared) %>"><%= format_visit_slot_times_for_staff(visit) %></td>
          <td aria-label="<%= t('status', scope: :shared) %>"><span class="tag tag--<%= visit.processing_state %>"><%= visit.processing_state.capitalize %></span></td>
          <td aria-label="<%= t('prison', scope: :shared) %>"><%= visit.prison_name %></td>
          <td aria-label="<%= t('actions', scope: :shared) %>"><%= link_to t('.view_link'), prison_visit_path(visit), title: t('.view_link') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% unless @all_visits_shown %>
    <p class="text-secondary"><%= t('not_all_visits', scope: :shared) %></p>
  <% end %>
<% else %>
  <p class="lede"><%= t('no_visits', scope: :shared) %></p>
<% end %>
