<tr>
  <td>
    <a href="javascript:void(0);" class="js-RevealNextRow" title="<%= t('open_close', scope: :shared) %>">
      <i class="icon icon-closed">
        <span class="visuallyhidden"><%= t('open_close', scope: :shared) %></span>
      </i>
    </a>
  </td>
  <td><%= visit.prisoner_number %></td>
  <td class="long"><%= visit.prisoner_full_name %></td>
  <td class="long"><%= visit.prisoner_date_of_birth.to_s(:short_nomis) %></td>
  <td><%= visit.slots.first.to_date.to_s(:short_nomis) %></td>
  <td><%= format_slot_times(visit.slots.first) %></td>
  <td><%= visit.visitors.size %></td>
  <td><%= visit.created_at.to_s(:time) %></td>
  <td><%= link_to t('.view', scope: :shared), prison_visit_path(visit) %></td>
</tr>