<tr class="hidden-row hide" aria-hidden="true">
  <td colspan="9" class="request-details">
    <div class="request-row-details">
      <% visit.slots.each_with_index do |slot, i| %>
        <dl>
          <dt><%= t('.choice', number: ActiveSupport::Inflector.ordinalize(i+1)) %></dt>
          <dd><%= slot.to_date.to_s(:short_nomis) %><br><%= format_slot_times(slot) %></dd>
        </dl>
      <% end %>
    </div>
    <div class="request-row-details push-top">
      <dl>
        <dt><%= t('lead_visitor', scope: :shared) %></dt>
        <dd><%= visit.principal_visitor.first_name %> <%= visit.principal_visitor.last_name %></dd>
      </dl>
      <dl>
        <dt><%= t('dob', scope: :shared) %> (<%= t('age', scope: :shared) %>)</dt>
        <dd><%= visit.principal_visitor.date_of_birth.to_s(:short_nomis) %> (<%= visit.principal_visitor.age %>)</dd>
      </dl>
      <dl>
        <dt><%= t('email_address', scope: :shared) %></dt>
        <dd><%= visit.contact_email_address %></dd>
      </dl>
      <dl>
        <dt><%= t('tel', scope: :shared) %></dt>
        <dd><%= visit.contact_phone_no %></dd>
      </dl>
    </div>
    <% if visit.visitors.size > 1 %>
    <div class="request-row-details push-top">
      <dl>
        <dt><%= t('other_visitors', scope: :shared) %></dt>
        <% visit.visitors[1..-1].each do |visitor| %>
          <dd><%= visitor.first_name %> <%= visitor.last_name %></dd>
        <% end %>
      </dl>
      <dl>
        <dt><%= t('dob', scope: :shared) %> (<%= t('age', scope: :shared) %>)</dt>
        <% visit.visitors[1..-1].each do |visitor| %>
          <dd><%= visitor.date_of_birth.to_s(:short_nomis) %> (<%= visitor.age %>)</dd>
        <% end %>
      </dl>
    </div>
    <% end %>
  </td>
</tr>