<%= render 'banner' %>
<%= render 'navigation' %>
<% content_for :header do %>
  <%= @estate.name %> <%= t('.title') %>
<% end %>

<%= render 'search_form', locals: {search_path: prison_inbox_path} %>

<% if @requested_visits.any? %>

  <% if params[:prisoner_number] %>
    <%= render 'inbox_search_results', visits: @requested_visits %>
  <% else %>
    <%= render 'inbox_results', visits: @requested_visits %>
  <% end %>

<% else %>

  <p class="lede"><%= t('no_visits', scope: :shared) %></p>

<% end %>
