<%= render 'banner' %>
<%= render 'navigation' %>
<%= render 'prison_switcher' %>
<% content_for :header do %>
  <%= @estate.name %> <%= t('.title') %>
<% end %>

<h3 class="heading-medium"><%= t('.cancellations') %></h3>
<%= render 'cancellations' %>

<% if @requested_visits.any? %>
  <h2 class="bold-medium push-bottom"><%= t('.requests') %></h2>
  <%= render 'inbox_results', visits: @requested_visits %>
<% else %>
  <p class="lede"><%= t('no_visits', scope: :shared) %></p>
<% end %>
