<%= render 'banner' %>
<%= render 'navigation' %>
<%= render 'prison_switcher' %>
<% content_for :header do %>
  <%= t('.title') %>
<% end %>

<div class='grid-row hidden--print'>
  <div class='column-one-half'>
    <%= form_tag prison_print_visits_path, method: :get, enforce_utf8: false, class: 'form' do -%>
      <div class="form-group">
        <%= label_tag "visit_date", class: "form-label-bold" do -%>
          <%= t('.visit_date') %>
          <span class="form-hint">
            <%= t('.filter_form_hint') %>
          </span>
        <% end %>
        <input class="form-control js-Datepicker" data-datepicker='{"dateFormat": "dd/mm/yy", "defaultDate": "<%= @visit_date&.to_s(:short_nomis) %>", "showButtonPanel": true}' type="text" id="visit_date" name="visit_date" value="<%= @visit_date&.to_s(:short_nomis) %>">
        <%= submit_tag t('.show'), name: nil, class: 'button' %>
      </div>
    <% end -%>
  </div>
</div>

<% if @visit_date %>
  <% if @data.any? %>
    <%= link_to t('.download_csv_html'), prison_print_visits_path(visit_date: params[:visit_date] ,format: :csv) %>
    <a class="push-left--half hidden--print" href="javascript:print()"><%= t('.print') %></a>

    <% if @data['booked'].nil? -%>
      <p class="lede push-top">No bookings</p>
    <% else %>
      <% @data['booked'].each_with_index do |(slot, visits), index| %>
        <% unless index.zero? %>
          <div class="page-break"></div>
        <% end %>
        <%= render 'print_slot', slot: slot, visits: visits %>
      <% end -%>
    <% end -%>

    <% if @data['cancelled'].nil? -%>
      <p class="lede push-top">No cancellations</p>
    <% else %>
      <div class="page-break"></div>
      <h3 class="heading-medium">Cancelled visits</h3>
      <% @data['cancelled'].each_with_index do |(slot, visits), index| %>
        <%= render 'print_cancelled_slot', slot: slot, visits: visits %>
      <% end -%>
    <% end -%>
  <% else %>
    <p class="lede"><%= t('.no_visits', date: @visit_date.to_s(:short_nomis)) %></p>
  <% end %>
<% else %>
  <p class="lede"><%= t('.search_list') %></p>
<% end %>
