<%= render 'banner' %>
<%= render 'navigation', estate: @estate %>

<div class='grid-row hidden--print'>
  <div class='column-one-half'>
    <%= form_tag prison_print_visits_path(@estate.finder_slug), method: :get, enforce_utf8: false, class: 'form' do -%>
      <div class="form-group">
        <%= label_tag "visit_date", class: "form-label-bold" do -%>
          <%= t('.visit_date') %>
          <span class="form-hint">
            <%= t('.filter_form_hint') %>
          </span>
        <% end %>
        <input class="form-control js-Datepicker" data-datepicker='{"dateFormat": "dd/mm/yy", "defaultDate": "<%= @visit_date&.to_s(:short_nomis) %>", "showButtonPanel": true}' type="text" id="visit_date" name="visit_date" value="<%= @visit_date&.to_s(:short_nomis) %>">
        <%= submit_tag t('.show'), name: nil, class: 'button' %>
      </div>
    <% end -%>
  </div>
</div>


<% if @visit_date %>
  <% if @data.any? %>
    <a class="hidden--print" href="javascript:print()"><%= t('.print') %></a>
    <% @data.each_with_index do |(slot, visits), index| %>
      <% if !index.zero? %>
      <div class="page-break"></div>
      <% end %>
      <h2 class="heading-large">
        <span class="heading-secondary"><%= format_date_without_year(@visit_date) %></span>
        <%= format_slot_times(slot) %>
      </h2>
      <table>
        <caption class="visually-hidden"><%= t('time_slot', scope: :shared) %> <%= format_slot_times(slot) %></caption>
        <thead>
          <tr>
            <th><%= t('prisoner_name', scope: :shared) %></th>
            <th><%= t('prisoner_number', scope: :shared) %></th>
            <th><%= t('lead_visitor', scope: :shared) %></th>
            <th><%= t('additional_visitors', scope: :shared) %></th>
          </tr>
        </thead>
        <tbody>
          <% visits.each do |visit| %>
            <tr>
              <td><%= visit.prisoner_full_name %></td>
              <td><%= visit.prisoner_number %></td>
              <td><%= visit.principal_visitor.full_name %><br>(<%= visit.principal_visitor.date_of_birth.to_s(:short_nomis) %>)</td>
              <td>
                <div>
                  <% visit.visitors[1..-1].each do |visitor| %>
                    <%= visitor.full_name %> (<%= visitor.date_of_birth.to_s(:short_nomis) %>)<br>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% else %>
    <p class="lede"><%= t('.no_visits', date: @visit_date.to_s(:short_nomis)) %></p>
  <% end %>
<% else %>
  <p class="lede"><%= t('.filter_list') %></p>
<% end %>