<%= render 'navigation' %>
<%= render 'prison_switcher' %>
<% content_for :header do %>
  <%= t('.title') %>
<% end %>

<div class='grid-row hidden--print'>
  <div class='column-one-half'>
    <%= form_tag prison_print_visits_path, method: :get, enforce_utf8: false, class: 'form' do -%>
      <div class="form-group">
        <%= label_tag "visit_date", class: "form-label-bold" do -%>
          <%= t('.visit_date') %>
          <span class="form-hint">
            <%= t('.filter_form_hint') %>
          </span>
        <% end %>
        <input class="form-control js-Datepicker" data-datepicker='{"dateFormat": "dd/mm/yy", "defaultDate": "<%= @visit_date&.to_s(:short_nomis) %>", "showButtonPanel": true}' type="text" id="visit_date" name="visit_date" value="<%= @visit_date&.to_s(:short_nomis) %>">
        <%= submit_tag t('.show'), name: nil, class: 'button' %>
      </div>
    <% end -%>
  </div>
</div>

<% if @visit_date %>
  <% if @data.any? %>
    <div class="js-print-visits">
      <span class="hidden--print">
        <%= link_to t('.download_csv_html'), prison_print_visits_path(visit_date: params[:visit_date] ,format: :csv) %>
      </span>
      <a class="push-left--half hidden--print print-link js-print-list" href="#"><%= t('.print') %></a>
      <% @data.each do |prison_name, grouped_visits| %>
        <div class="page-break"></div>
        <h2 class="heading-xlarge"><%= prison_name %></h2>
        <% if grouped_visits['booked'].nil? -%>
          <p class="lede push-top"><%= t('.no_bookings') %></p>
        <% else %>
          <%= render 'print_visits', grouped_visits: grouped_visits %>
        <% end -%>

        <% if grouped_visits['cancelled'].nil? -%>
          <div class="hidden--print">
            <div class="page-break"></div>
            <h3 class="heading-medium"><%= t('.no_cancellations') %></h3>
          </div>
        <% else %>
          <div class="page-break"></div>
          <h3 class="heading-medium"><%= t('.cancelled_visits') %></h3>
          <% grouped_visits['cancelled'].each_with_index do |(slot, visits), index| %>
            <%= render 'print_cancelled_slot', slot: slot, visits: visits %>
          <% end -%>
        <% end -%>
      <% end -%>
    </div>
  <% else %>
    <p class="lede"><%= t('.no_visits', date: @visit_date.to_s(:short_nomis)) %></p>
  <% end %>
<% else %>
  <p class="lede"><%= t('.search_list') %></p>
<% end %>
