<%= render 'navigation' %>
<% content_for :header do %>
  <%= t('.title', prisoner_number: params[:query]) %>
<% end %>

<%= t('.search_description_html') %>

<h3 class="heading-medium"><%= t('.cancellations') %></h3>
<%= render 'cancellations' %>

<h3 class="heading-medium"><%= t('.requests') %></h3>
<% if @requested_visits.any? %>
  <%= render 'inbox_search_results', visits: @requested_visits %>
<% else %>
  <p class="lede"><%= t('no_visits', scope: :shared) %></p>
<% end %>

<h3 class="heading-medium"><%= t('.processed') %></h3>
<%= render 'processed' %>
