<%= render 'banner' %>
<%= render 'navigation' %>

<h2 class="heading-large"><%= t('.title') %></h2>

<% if @requested_visits.any? %>

  <% @requested_visits.group_by {|v| v.created_at.to_date}.each do |date, booking| %>
    <h3 class="heading-medium"><%= date.to_s(:short) %></h3>
    <table class="table--hover">
      <caption class="visuallyhidden"><%= t('.title') %></caption>
      <thead>
        <tr>
          <th></th>
          <th><%= t('prisoner_number', scope: :shared) %></th>
          <th><%= t('prisoner_name', scope: :shared) %></th>
          <th><%= t('dob', scope: :shared) %></th>
          <th><%= t('visit_date', scope: :shared) %></th>
          <th class="col-time"><%= t('time_slot', scope: :shared) %></th>
          <th><%= t('no_of_visitors', scope: :shared) %></th>
          <th><%= t('requested', scope: :shared) %></th>
          <th class="col-actions"><%= t('actions', scope: :shared) %></th>
        </tr>
      </thead>
      <tbody>
        <% booking.each do |visit| %>
          <%= render 'request_summary_row', visit: visit %>
          <%= render 'request_details_row', visit: visit %>
        <% end %>
      </tbody>
    </table>
  <% end %>

<% else %>

  <p class="lede"><%= t('no_visits', scope: :shared) %></p>

<% end %>
