<% %i[day month year].each do |field_name| %>
  <div class="datefield form-group form-group-<%= field_name %>">
    <label for="<%= prefix %>_date_of_birth_<%= field_name %>">
      <%= t(field_name, scope: 'date.fields') %>
    </label>
    <input
      class="form-control"
      value="<%=
        object.date_of_birth ?
          object.date_of_birth.send(field_name) : ''
        %>"
      type="number"
      min="<%= object.minimum_date_of_birth.send(field_name) %>"
      max="<%= object.maximum_date_of_birth.send(field_name) %>"
      name="<%= prefix %>[date_of_birth][<%= field_name %>]"
      id="<%= prefix %>_date_of_birth_<%= field_name %>"
      aria-describedby="dobHint"
    />
  </div>
<% end %>
