<% content_for :header, t('.title') %>

<div class="Grid">
  <div class="Grid-2-3">
    <%= form_for(@slots_step, url: steps_path) do |f| %>
      <%= render(partial: 'hidden_prisoner_step') %>
      <%= render(partial: 'hidden_visitors_step') %>

      <fieldset>
        <% 3.times do |i| %>
          <%=
            single_field(
              f, :"option_#{i.succ}", :select,
              f.object.available_slots.map { |s|
                [format_slot_begin_time_for_public(s), s.iso8601]
              },
              include_blank: true
            )
          %>
        <% end %>

        <div class="actions">
          <div class="primary-actions">
            <%= f.submit(t('.next_step'), class: 'button button-primary') %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
