<% content_for :header, t('.title') %>

<div class="Grid">
  <div class="Grid-2-3">
    <%= form_for(@steps.fetch(:visitors_step), url: steps_path) do |f| %>
      <%= render(partial: 'hidden_prisoner_step') %>

      <h2>
        <%= t('.your_details') %>
      </h2>

      <%= render(partial: 'shared/validation', object: f.object) %>

      <fieldset>
        <legend class="visuallyhidden">
          <%= t('.your_details') %>
        </legend>

        <%= single_field(f, :first_name, :text_field) %>

        <%= single_field(f, :last_name, :text_field) %>

        <%= composite_field(f, :date_of_birth) do %>
          <%= render(partial: 'dob',
                locals: { object: f.object, prefix: 'visitors_step' }) %>
        <% end %>

        <%= single_field(f, :email_address, :text_field) %>
        <% if f.object.spam_or_bounce_has_occurred? %>
          <label class="validation-message">
            <%= single_field(f, :override_spam_or_bounce, :check_box) %>
            <%= single_field(f, :spam_or_bounce, :hidden_field) %>
          </label>
        <% end %>

        <%= single_field(f, :phone_no, :text_field) %>

        <div class="actions">
          <div class="primary-actions">
            <%= f.submit(t('.next_step'), class: 'button button-primary') %>
          </div>
          <%= render(partial: 'cancel') %>
        </div>
      </fieldset>
    <% end %>

    <%= render(partial: 'contact_prison') %>
  </div>
</div>
