<%= render 'metrics/content_for_head' %>

<h2 class="heading-medium">
  <%= t('.processing_turnaround_time') %>
</h2>

<%= content_tag :div, '', { class: 'js-Metrics',              data: { percentiles: @metrics_presenter.percentiles_by_day } } %>
<%= content_tag :div, '', { class: 'js-VisitsCounts',         data: { visit_counts: @metrics_presenter.visits_per_processing_state } } %>
<%= content_tag :div, '', { class: 'js-TimelyVisitsCount',    data: { visit_counts: @metrics_presenter.timely_and_overdue } } %>
<%= content_tag :div, '', { class: 'js-RejectionPercentages', data: { rejections_percentages: @metrics_presenter.rejection_percentages } } %>
<hr/>
<h2 class="heading-medium"><%= t('.prisons') %></h2>
<div  class="grid-row">
  <% @prisons.object.in_groups_of(@prisons.slab_size, false) do |prisons| %>
    <div  class="column-one-third">
      <ul>
        <% prisons.each do |prison| %>
          <li><%= link_to prison.name, metrics_processing_time_path(prison) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
