<% if @rejection.email_formatted_reasons.first == 'duplicate_visit_request' %>
  <%= t('duplicate_visit_request_single_html', prisoner: @visit.prisoner_full_name, prison_name: @visit.prison_name, scope: [:visitor_mailer, :rejected]) %>
<% elsif @rejection.email_formatted_reasons.empty? %>
  <%= t('intro_html', prison_name: @visit.prison_name, scope: [:visitor_mailer, :rejected]) %>
<% else %>
  <%= t('intro_html', prison_name: @visit.prison_name, scope: [:visitor_mailer, :rejected]) %>
  <p><%= t('cant_visit', scope: [:visitor_mailer, :rejected]) %>
    <%= @rejection.email_formatted_reasons.first.explanation %>.
  </p>
<% end %>
