<h2 id="info-what-to-bring">
  <%= t(".what_to_bring_title") %>
</h2>

<div>
  <%= t('.id_requirements_html') %>
</div>

<p>
  <%= t(".any_questions") %>
</p>

<h2 id="info-bringing-child">
  <%= t(".bringing_child_title") %>
</h2>

<p>
  <%= t(".bringing_child_body") %>
</p>

<h2 id="info-what-to-expect">
  <%= t(".what_to_expect_title") %>
</h2>

<p>
  <%= t(".what_to_expect_body") %>
</p>

<h2 id="info-what-not-to-bring">
  <%= t(".what_not_to_bring_title") %>
</h2>

<% if @visit.prison.name == 'Medway Secure Training Centre' %>
  <p>
    <%=
      t(".medway_what_not_to_bring_body_html",
        phone_no: @visit.prison_phone_no)
    %>
  </p>
<% else %>
  <p>
    <%=
      t(".what_not_to_bring_body_html",
        url: link_directory.prison_finder(visit.prison),
        prison: visit.prison_name)
    %>
  </p>
<% end %>
