<p><%= t(".salutation", name: (@booking_response.visitor_full_name)) %></p>

<p><%= t(".visit_confirmed", prison: (@booking_response.prison_name)) %></p>

<h3><%= format_slot_for_public(@booking_response.slot_granted) %></h3>

<p><%= t(".please_arrive") %></p>

<p>
  <%= t('.prisoner') %>
  <strong><%= @booking_response.prisoner_anonymized_name %></strong>
</p>

<p>
  <%= t('.number') %>
  <strong><%= @booking_response.prisoner_number %></strong>
</p>

<% @booking_response.allowed_visitors.each_with_index do |visitor, index| %>
  <p>
    <%= t('.visitor', n: index + 1) %>
    <strong><%= visitor.anonymized_name %></strong>
  </p>
<% end %>

<p>
  <%= t(".reference_no") %>
  <strong><%= @booking_response.reference_no %></strong>
</p>

<% if @booking_response.message_body %>
  <h2><%= t('.message_title') %></h2>
  <p><i><%= @booking_response.message_body %></i></p>
<% end %>

<% if @booking_response.closed? %>
  <p><%= t(".this_is_a_closed_visit_html") %></p>
<% end %>

<% if @booking_response.banned_visitors.any? %>
  <% @booking_response.banned_visitors.each do |v| %>
    <p><%= t('.visitor_banned_html', name: v.anonymized_name) %></p>
  <% end %>
  <p><%= t('.banned_instructions') %></p>
<% end %>

<% if @booking_response.unlisted_visitors.any? %>
  <% @booking_response.unlisted_visitors.each do |v| %>
    <p><%= t('.visitor_not_on_list_html', name: v.anonymized_name) %></p>
  <% end %>
  <p><%= t('.not_on_list_instructions') %></p>
<% end %>

<h2><%= t('.cancel_change_title') %></h2>

<p>
  <% if @override_cancel_link %>
    <%= t('.cancel_html', url: prison_visit_url(@booking_response.visit, locale: I18n.locale)) %>
  <% else %>
    <%= t('.cancel_html', url: link_directory.visit_status(@booking_response.visit, locale: I18n.locale)) %>
  <% end %>
</p>

<p><%= t(".want_to_change") %></p>

<h2><%= t(".questions_about_your_visit") %></h2>

<p><%= t(".dont_reply") %></p>

<ul>
  <li>
    <%= t(".phone_no") %>
    <strong><%= @booking_response.prison_phone_no %></strong>
  </li>
  <li>
    <%= t(".email_address") %>
    <strong><%= @booking_response.prison_email_address %></strong>
  </li>
</ul>

<h2><%= t(".avoid_spam_filtering_title") %></h2>

<p><%= t(".avoid_spam_filtering_body",
         email: address_book.no_reply) %>

  <%= render('visitor_mailer/visit_info', visit: @booking_response.visit) %>

<h2><%= t(".your_data_title") %></h2>

<p><%= t(".your_data_body") %></p>

<h2><%= t(".need_help_title") %></h2>

<p>
  <%= t(".need_help_body_html",
         url: link_directory.feedback_submission(locale: I18n.locale)) %>
</p>

<p>
  <small><%= t(".visit_id") %> <%= @booking_response.visit.id %></small>
</p>
