<p><%= t(".salutation", name: (@visit.visitor_full_name)) %></p>

<p><%= t(".visit_confirmed", prison: (@visit.prison_name)) %></p>

<h3><%= format_slot_for_public(@visit.slot_granted) %></h3>

<p><%= t(".please_arrive") %></p>

<p>
  <%= t('.prisoner') %>
  <strong><%= @visit.prisoner_anonymized_name %></strong>
</p>

<p>
  <%= t('.number') %>
  <strong><%= @visit.prisoner_number %></strong>
</p>

<% @visit.allowed_visitors.each_with_index do |visitor, index| %>
  <p>
    <%= t('.visitor', n: index + 1) %>
    <strong><%= visitor.anonymized_name %></strong>
  </p>
<% end %>

<p>
  <%= t(".reference_no") %>
  <strong><%= @visit.reference_no %></strong>
</p>

<% if @message&.body.present? %>
  <h2><%= t('.message_title') %></h2>
  <p><i><%= @message.body %></i></p>
<% end %>

<% if @visit.closed? %>
  <p><%= t(".this_is_a_closed_visit_html") %></p>
<% end %>

<% if @visit.banned_visitors.any? %>
  <% @visit.banned_visitors.each do |v| %>
    <p>
      <% if v.banned_until? %>
        <%= t('.visitor_banned_until_html', name: v.anonymized_name, banned_until: v.banned_until.to_fs(:short_nomis)) %>
      <% else %>
        <%= t('.visitor_banned_html', name: v.anonymized_name) %>
      <% end %>
    </p>
  <% end %>
  <p><%= t('.banned_instructions') %></p>
<% end %>

<% if @visit.unlisted_visitors.any? %>
  <% @visit.unlisted_visitors.each do |v| %>
    <p><%= t('.visitor_not_on_list_html', name: v.anonymized_name) %></p>
  <% end %>
  <p><%= t('.not_on_list_instructions') %></p>
<% end %>

<% if @visit.visitors_rejected_for_other_reasons.any? %>
  <% @visit.visitors_rejected_for_other_reasons.each do |v| %>
    <p><%= t('.visitor_rejected_other_reason_html', name: v.anonymized_name) %></p>
  <% end %>
<% end %>

<h2><%= t('.cancel_change_title') %></h2>

<p>
  <% if @override_cancel_link %>
    <%= t('.cancel_html', url: prison_visit_url(@visit, locale: I18n.locale)) %>
  <% else %>
    <%= t('.cancel_html', url: link_directory.visit_status(@visit, locale: I18n.locale)) %>
  <% end %>
</p>

<p><%= t(".want_to_change") %></p>

<h2><%= t(".questions_about_your_visit") %></h2>

<p><%= t(".dont_reply") %></p>

<ul>
  <li>
    <%= t(".phone_no") %>
    <strong><%= @visit.prison_phone_no %></strong>
  </li>
  <li>
    <%= t(".email_address") %>
    <strong><%= @visit.prison_email_address %></strong>
  </li>
</ul>

<h2><%= t(".avoid_spam_filtering_title") %></h2>

<p><%= t(".avoid_spam_filtering_body",
         email: address_book.no_reply) %></p>

  <%= render('visitor_mailer/visit_info', visit: @visit) %>

<h2><%= t('other_services', scope: [:visitor_mailer, :cross_promote]) %></h2>

<h3><%= t('money_to_prisoners', scope: [:visitor_mailer, :cross_promote]) %></h3>

<%= t('mtp_details_html', scope: [:visitor_mailer, :cross_promote]) %>

<h3><%= t('help_with_prison_visits', scope: [:visitor_mailer, :cross_promote]) %></h3>

<%= t('help_details_html', scope: [:visitor_mailer, :cross_promote]) %>

<h3><%= t('support_for_families', scope: [:visitor_mailer, :cross_promote]) %></h3>

<%= t('support_details_html', scope: [:visitor_mailer, :cross_promote]) %>

<h2><%= t(".your_data_title") %></h2>

<p><%= t(".your_data_body") %></p>

<h2><%= t(".need_help_title") %></h2>

<p>
  <%= t(".need_help_body_html",
         url: link_directory.feedback_submission(locale: I18n.locale)) %>
</p>

<p>
  <small><%= t(".visit_id") %> <%= @visit.human_id %></small>
</p>
