<p><%= t('.salutation', name: @visit.visitor_first_name) %></p>

<% case @visit.cancellation_reason %>
<% when 'visitor_banned' %>
  <%= t('.visitor_banned_html',
        date: format_slot_for_public(@visit.slot_granted),
        prison: @visit.prison.name,
        prisoner: @visit.prisoner_full_name,
        visitor_name: @visit.visitor_full_name) %>
  <% else %>
    <p>
    <%= t('.intro',
          date: format_slot_for_public(@visit.slot_granted),
          prison: @visit.prison.name,
          prisoner: @visit.prisoner_full_name) %> <%= t(".#{@visit.cancellation_reason}") %>
    </p>
<% end %>

<p><%= t('.any_questions_html',
         url: link_directory.prison_finder(@visit.prison),
         phone_no: @visit.prison_phone_no) %></p>

<p>
  <small><%= t('.visit_id') %> <%= @visit.id %></small>
</p>
