<p><%= t('.salutation', name: @visit.visitor_first_name) %></p>

<% if @cancellation.reasons.one? %>
  <%= render 'single_cancellation_reason', reason: @cancellation.reasons.first %>
<% else %>
  <%= render 'multiple_cancellation_reasons' %>
<% end %>

<% if @visit.prison.name == 'Medway Secure Training Centre' %>
  <p><%= t('.medway_any_questions_html', phone_no: @visit.prison_phone_no) %></p>
<% else %>
  <p><%= t('.any_questions_html',
           url: link_directory.prison_finder(@visit.prison),
           phone_no: @visit.prison_phone_no) %></p>
<% end %>

<p>
  <small><%= t('.visit_id') %> <%= @visit.human_id %></small>
</p>
