<p><%= t('.salutation', name: @visit.visitor_first_name) %></p>

<% if @rejection.email_formatted_reasons.size > 1 %>
  <%= render 'visitor_mailer/multiple_rejection' %>
<% else %>
  <%= render 'visitor_mailer/single_rejection' %>
<% end %>

<% if @visit.unlisted_visitors.any? && !@rejection.reasons.include?('visitor_not_on_list') %>
  <p>
    <%= @rejection.email_visitor_not_on_list_explanation %>
  </p>
  <p><%= t('.update_list') %></p>
  <p><%= t('.first_visit') %></p>
<% end %>

<% if @visit.banned_visitors.any? && !@rejection.reasons.include?('visitor_banned') %>
  <% @visit.banned_visitors.each do |v| %>
    <p>
      <%= @rejection.email_visitor_banned_explanation(v) %>
    </p>
  <% end %>
<% end %>

<% if @message&.body.present? %>
  <h2><%= t('.message_title') %></h2>
  <p><i><%= @message.body %></i></p>
<% end %>

<% if @visit.prison.name == 'Medway Secure Training Centre' %>
  <p><%= t('.medway_any_questions_html', phone_no: @visit.prison_phone_no) %></p>
<% else %>
  <p><%= t('.any_questions_html',
           url: link_directory.prison_finder(@visit.prison),
           phone_no: @visit.prison_phone_no) %></p>
<% end %>

<p>
  <small><%= t('.visit_id') %> <%= @visit.human_id %></small>
</p>
