<p><%= t('.salutation', name: @visit.visitor_first_name) %></p>

<% case @visit.rejection_reason %>
<% when 'slot_unavailable' %>

  <p><%= t('.slot_unavailable_html',
           prisoner: @visit.prisoner_anonymized_name,
           prison: @visit.prison_name) %>
  <p><%= t('.alternatives_html') %></p>

<% when 'no_allowance' %>

  <p><%= t('.no_allowance') %></p>

  <% if @visit.privileged_allowance_available? %>
    <p><%= t('.privileged_allowance_available',
             date: format_date_without_year(@visit.privileged_allowance_expires_on)) %></p>
  <% end %>

  <% if @visit.allowance_will_renew? %>
    <p><%= t('.allowance_will_renew',
             prisoner: @visit.prisoner_anonymized_name,
             date: format_date_without_year(@visit.allowance_renews_on)) %></p>
  <% end %>

<% when 'prisoner_details_incorrect' %>

  <p><%= t('.prisoner_details_incorrect') %></p>

<% when 'prisoner_moved' %>

  <p><%= t('.prisoner_moved_html') %></p>

<% when 'no_adult' %>

  <p><%= t('.no_adult') %></p>

<% when 'prisoner_released' %>

  <p><%= t('.prisoner_released') %></p>

<% when 'prisoner_non_association' %>

  <p><%= t('.prisoner_non_association') %></p>

<% when 'child_protection_issues' %>

  <p><%= t('.child_protection_issues') %></p>

<% end %>

<% if @visit.unlisted_visitors.any? %>

  <p><%= t('.visitor_not_on_list',
           visitors: @visit.unlisted_visitors.map(&:anonymized_name).to_sentence) %></p>

  <p><%= t('.update_list') %></p>

  <p><%= t('.first_visit') %></p>

<% end %>

<% if @visit.banned_visitors.any? %>

  <p><%= t('.visitor_banned',
           visitors: @visit.banned_visitors.map(&:anonymized_name).to_sentence) %></p>

<% end %>

<p><%= t('.any_questions_html',
         url: link_directory.prison_finder(@visit.prison),
         phone_no: @visit.prison_phone_no) %></p>
<p>
  <small><%= t('.visit_id') %> <%= @visit.id %></small>
</p>
