<p><%= t('.salutation', name: @visit.visitor_first_name) %></p>

<% if @rejection.reasons.size == 1 %>
  <%= render 'visitor_mailer/single_rejection' %>
<% else %>
  <%= render 'visitor_mailer/multiple_rejection' %>
<% end %>

<% if @visit.unlisted_visitors.any? && !@rejection.reasons.include?('visitor_not_on_list') %>
  <p>
    <%= @rejection.visitor_not_on_list_explanation %>
  </p>
  <p><%= t('.update_list') %></p>
  <p><%= t('.first_visit') %></p>
<% end %>

<% if @visit.banned_visitors.any? && !@rejection.reasons.include?('visitor_banned') %>
  <% @visit.banned_visitors.each do |v| %>
    <p>
      <% if v.banned_until? %>
        <%= t('.visitor_banned_until_html', name: v.anonymized_name, banned_until: v.banned_until.to_s(:short_nomis)) %>
      <% else %>
        <%= t('.visitor_banned_html', name: v.anonymized_name) %>
      <% end %>
    </p>
  <% end %>
<% end %>

<% if @message&.body.present? %>
  <h2><%= t('.message_title') %></h2>
  <p><i><%= @message.body %></i></p>
<% end %>

<p><%= t('.any_questions_html',
         url: link_directory.prison_finder(@visit.prison),
         phone_no: @visit.prison_phone_no) %></p>
<p>
  <small><%= t('.visit_id') %> <%= @visit.id %></small>
</p>
