<p>
  <%= t('.salutation', visitor_full_name: @visit.visitor_first_name) %>,
</p>
<h2>
  <%= t('.status') %>
</h2>
<p>
  <%= t('.where_to_check_status_html',
        url: link_directory.visit_status(@visit, locale: I18n.locale)) %>
</p>
<p>
  <%= t('.when_to_expect_response',
        when: format_date_without_year(@visit.confirm_by)) %>
</p>
<p>
  <%= t('.when_to_check_spam',
        when: format_date_without_year(@visit.confirm_by)) %>
</p>
<h2>
  <%= t('.avoid_spam_filtering') %>
</h2>
<p>
  <%= t('.add_address', email: address_book.no_reply) %>
</p>
<h2>
  <%= t('.details') %>
</h2>
<p>
  <%= t('.request',
        prison: @visit.prison_name,
        count: @visit.total_number_of_visitors
       )
  %>
</p>
<p>
  <% @visit.slots.each_with_index do |slot, index| %>
    <%= t('.choice', n: index + 1) %>

    <strong><%= format_slot_for_public(slot) %></strong>
    <br/>
  <% end %>
</p>
<p>
  <%= t('.prisoner') %>
  <strong><%= @visit.prisoner_anonymized_name %>.</strong>
  <br/>
  <%= t('.prisoner_number') %>
  <strong><%= @visit.prisoner_number.upcase %></strong>
</p>
<h2>
  <%= t('.cancel_title') %>
</h2>
<p>
  <%= t('.cancel_html', url: link_directory.visit_status(@visit, locale: I18n.locale)) %>
</p>
<ul>
  <li>
  <%= t('.phone_no') %>
  <strong><%= @visit.prison_phone_no %></strong>
  </li>
  <li>
  <%= t('.email_address') %>
  <strong><%= @visit.prison_email_address %></strong>
  </li>
</ul>
<p>
  <%= t('.feedback_html',
        url: link_directory.feedback_submission(locale: I18n.locale)) %>
</p>
