<h1>Configure slots</h1>

<h2 class="heading-small"><%= @prison.name %></h2>
<ul class="slot-list">
  <%= render DayDecorator::DECORATED_DAYS, prison: @prison.decorate %>
</ul>

Current Unbookable dates:
<table>
  <% @prison.unbookable_dates.select(&:persisted?).each do |unbookable_date| %>
    <%= form_for @prison, url: prison_unbookable_date_path(@prison.id, unbookable_date.date), method: :delete do |form| %>
      <tr>
        <td><%= unbookable_date.date.to_s(:long) %></td>
        <td><%= form.submit "Remove #{unbookable_date.date.to_s(:short)}", id: "unbookable_date_#{unbookable_date.date}" %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= link_to 'Add Unbookable Date', new_prison_unbookable_date_path(@prison) %>

