<h3 class="heading-medium">Staff information</h3>
<ul class="list">
  <li>
    <%= link_to 'Stats', metrics_path %>
  </li>
  <li>
    <%= link_to 'Digital takeup', '/en/metrics/digital_takeup' %>
  </li>
  <li>
    <%= link_to 'Feedback', 'https://visit-someone-in-prison.form.service.justice.gov.uk/' %>
  </li>
  <li>
    <%= link_to 'Downloads', staff_downloads_path %>
  </li>
  <li>
    <%= link_to 'Telephone script', '/staff/telephone_script' %>
  </li>
</ul>
