<h3 class="heading-medium">Staff informations</h3>
<ul class="list">
  <li>
    <%= link_to 'Stats', metrics_path %>
  </li>
  <li>
    <%= link_to 'Digital takeup', '/en/metrics/digital_takeup' %>
  </li>
  <li>
    <%= link_to 'Contact us', new_prison_feedback_path %>
  </li>
  <li>
    <%= link_to 'Downloads', staff_downloads_path %>
  </li>
  <li>
    <%= link_to 'Telephone script', '/staff/telephone_script' %>
  </li>
</ul>
