<% content_for :page_title do %>
  <%= page_title(yield(:header)) %>
<% end %>

<% content_for :head do %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <%= csrf_meta_tag %>
  <%= favicon_link_tag %>

  <%= stylesheet_link_tag('application', media: 'all') %>
  <!--[if IE 8]>
    <%= stylesheet_link_tag('application-ie8', media: 'all') %>
  <![endif]-->
<% end %>

<% content_for :cookie_message do %>
  <%= t('.cookies_intro') %>
<% end %>

<% content_for :proposition_header do %>
  <div class="header-proposition hidden--print">
    <div class="content">
      <nav id="proposition-menu" class="header__menu" role="navigation">
        <a href="/" id="proposition-name" class="header__menu__proposition-name"><%= t('app_title') %></a>
        <% if current_user %>
          <ul id="proposition-links" class="header__menu__proposition-links">
            <li class="current-user-email-text"><%= current_user.email %></li>
            <li>
              <%= form_tag session_path, method: :delete, enforce_utf8: false, class: 'form' do -%>
                <input class="button-link" type="submit" value="<%= t('.sign_out') %>">
              <% end %>
            </li>
          </ul>
        <% else %>
          <ul id="proposition-links" class="header__menu__proposition-links">
            <li><%= link_to t('.sign_in'), prison_inbox_path %></li>
          </ul>
        <% end %>
      </nav>
    </div>
  </div>
<% end %>

<% content_for :content do %>

  <!--[if lte IE 8]>
    <%= t('.unsupported_content_html') %>
  <![endif]-->

  <main id="content">
    <p class="phase-banner push-top--half push--none font-xsmall">
      <%= t('.contact_banner_html', url: 'https://visit-someone-in-prison.form.service.justice.gov.uk') %>
    </p>
    <%= yield :banner %>
    <%= yield :navigation %>
    <% if content_for?(:header) %>
      <header>
        <h1 class="heading-large">
          <%= yield :header %>
        </h1>
      </header>
    <% end %>
    <% if notice.present? %>
      <p class="notification">
        <%= notice %>
      </p>
    <% end %>
    <% if alert.present? %>
      <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
        <%= alert.html_safe %>
      </div>
    <% end %>
    <%= yield :prison_switcher %>
    <%= yield %>

  </main>
<% end %>

<% content_for :footer_support_links do %>
  <ul>
    <li>
      <%= link_to(t('.stats'), metrics_path) %>
    </li>
    <li>
      <%= link_to(t('.digital_takeup'), '/en/metrics/digital_takeup') %>
    </li>
    <li>
      <%= t('.contact_us_html', url: 'https://visit-someone-in-prison.form.service.justice.gov.uk') %>
    </li>
    <li>
      <%= link_to(t('.downloads'), '/staff/downloads') %>
    </li>
    <li>
      <%= link_to(t('.telephone'), '/staff/telephone_script') %>
    </li>
  </ul>
<% end %>

<% content_for :body_end do %>
  <!--[if gte IE 9]><!-->
    <%= content_tag :div, nil, class: "js-AsyncGA", data: ga_tracking_data %>
  <!--<![endif]-->
  <%= content_tag :div, nil, class: "js-Sentry", data: { sentry_js_dsn: config_item(:sentry_js_dsn) } %>
  <%= javascript_include_tag('application') %>
  <%= yield :metrics %>
<% end %>

<%= render(template: 'layouts/govuk_template') %>
