<% content_for :page_title do %>
  <%= page_title(yield(:header)) %>
<% end %>

<% content_for :head do %>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag %>
<% end %>

<% content_for :javascripts do %>
  <%= stylesheet_link_tag('application', media: 'all') %>
<% end %>

<% content_for :javascripts do %>
  <script>
    moj.i18n = <%= raw(javascript_i18n.to_json) %>;
  </script>
  <%= javascript_include_tag('application') %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= config_item :ga_id %>', 'service.gov.uk');
    <% if @step_name %>
      ga('send', 'pageview', location.pathname + '#<%= @step_name %>');
    <% else %>
      ga('send', 'pageview');
    <% end %>
  </script>
  <% if Rails.env == 'test' %>
    <script>
      moj.log = function(){}; // Silence hiring banner
    </script>
  <% end %>
<% end %>

<% content_for :cookie_message do %>
  <%= t('.cookies_intro') %>
  <%= link_to(t('.cookies_find_out_more'), cookies_path) %>
<% end %>

<% content_for :content_override do %>
  <main id="wrapper" role="main">
    <div class="container">
      <section class="content inner cf" id="content">
        <header>
          <h1>
            <%= yield :header %>
          </h1>
        </header>

        <% if notice.present? %>
          <p class="validation-summary">
            <%= notice %>
          </p>
        <% end %>

        <%= yield %>
      </section>
    </div>
  </main>
<% end %>

<% content_for :footer_support_links do %>
  <li>
    <%= link_to(t('.cookies'), cookies_path) %>
  </li>
  <li>
    <%= link_to(t('.ts_and_cs'), terms_and_conditions_path) %>
  </li>
  <li>
    <%= link_to(t('.contact_us'), new_feedback_submission_path) %>
  </li>
  <% alternative_locales.each do |locale| %>
    <li>
      <% if controller_name == 'errors' %>
        <%= link_to(t('language', locale: locale), "/#{response.status}?locale=#{locale}")%>
      <% else %>
        <%= link_to(t('language', locale: locale), locale: locale) %>
      <% end %>
    </li>
  <% end %>
<% end %>

<%= render(template: 'layouts/moj_template') %>
